<a href="https://colab.research.google.com/github/Trading-com-Dados/redes-sociais/blob/main/20220413_Paralelo_Python_vs_Excel_Trading_com_Dados.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

---
# **Pararelo Python *vs* Excel - Trading com Dados** 
---

<img src="https://tradingcomdados.com/images/logotipo/logotipo-trading-com-dados.svg" width="300">

Antes de tudo, sugerimos que voc√™ j√° deixe separado o arquivo Excel que pretende utilizar ao longo do tutorial. <p>
Se preferir, pode fazer o download do arquivo modelo usado neste tutorial:<p>
https://github.com/Trading-com-Dados/tutoriais_publicos/blob/main/modelo_df.xlsx <p>
Se voc√™ √© iniciante, sugerimos utilizar o Google Colab (https://colab.research.google.com/#create=true) e o nosso arquivo Excel modelo para facilitar nosso mergulho na programa√ß√£o (tentamos criar situa√ß√µes para explorarmos diversas fun√ß√µes do Excel). <p>
Bora l√° !? üöÄüöÄüöÄ

## **1. Instalar e importar as bibliotecas desejadas**

In [ ]:
# Basicamente precisaremos apenas destas duas bibliotecas
# Dependendo de como o python foi instalado, pode ser que elas j√° estejam dispon√≠veis no Colab
# A instala√ß√£o precisa ser feita apenas na primeira vez de uso. Depois, j√° estar√° dispon√≠vel em uma m√°quina e poder√° ir para a pr√≥xima c√©lula do c√≥digo (import)

!pip install pandas
!pip install numpy

In [33]:
# Encurtamos os nomes para facilitar na hora de chamar fun√ß√µes dessas bibliotecas.
# Ex.: ao inv√©s de "pandas.DataFrame()" posso escrever apenas "pd.DataFrame()"

import pandas as pd
import numpy as np

In [34]:
# Posteriormente podemos apresentar e explorar algumas bibliotecas gr√°ficas

import matplotlib.pyplot as plt
import seaborn as sns

In [35]:
# Caso queira checar/alterar o diret√≥rio de trabalho para importar/exportar arquivos
# Como padr√£o, o Google Colab trabalha nesse diret√≥rio '/content'
# Umas das formas √© arrastar o arquivo excel a ser trabalhado para o √≠cone "Arquivos" no menu ao lado esquerdo

import os
os.getcwd()

'/content'

<img src="https://github.com/Trading-com-Dados/tutoriais_publicos/blob/main/Ex01_Carregar_dados_Colab.jpg?raw=true" width="800">

## **2. Importar e exportar um arquivo entre Excel e Python**

In [476]:
# Importar o nosso arquivo modelo

modelo_dados = pd.read_excel('/content/modelo_df.xlsx')

In [444]:
# Exportar o nosso arquivo alterando o nome (ao final desse tutorial voc√™ pode exportar para ver como ficou)
# Opcionalmente, pode estabelecer o salvamento em subplanilhas (sheets)

modelo_dados.to_excel('quando_terminar_tutorial.xlsx',sheet_name="tutorial_Python")

In [445]:
# Exportar o nosso arquivo modelo para um csv

modelo_dados.to_csv("modelo_csv_df.csv")

In [446]:
# PENSAR SE COLOCAR MAIS EXEMPLOS COM CSV, TXT, GOOGLE SHEETS
# OU EXPLICAR MAIS COMO MUDAR DIRETORIO....
# OU SIMPLESMENTE JUNTAR COM PROXIMA SESSAO

## **3. Visualiza√ß√£o geral e acesso aos dados**

In [447]:
# Vis√£o geral (quando extenso, apenas primeiras e √∫ltimas linhas e colunas)
# No fim ele lista qts linhas x colunas de dados

modelo_dados

            Data  Parametro     Ativo         Valor
0     2021-01-04  Adj Close  ABEV3.SA  1.482789e+01
1     2021-01-04      Close  ABEV3.SA  1.548000e+01
2     2021-01-04       High  ABEV3.SA  1.585000e+01
3     2021-01-04        Low  ABEV3.SA  1.538000e+01
4     2021-01-04       Open  ABEV3.SA  1.579000e+01
...          ...        ...       ...           ...
22225 2021-12-30      Close  VIIA3.SA  5.250000e+00
22226 2021-12-30       High  VIIA3.SA  5.320000e+00
22227 2021-12-30        Low  VIIA3.SA  5.020000e+00
22228 2021-12-30       Open  VIIA3.SA  5.040000e+00
22229 2021-12-30     Volume  VIIA3.SA  5.831040e+07

[22230 rows x 4 columns]

In [448]:
# Como veremos, existem centenas de m√©todos para trabalhar os dados. Para utiliz√°-los, digite '.' e o nome do m√©todo
# Obs.: O ColaB pode ajudar com o preenchimento automatico
# Neste primeiro exemplo, m√©todo shape para saber qts linhas e colunas existem (lembrando que s√£o desconsiderados o cabe√ßalho e o √≠ndice de linhas)

modelo_dados.shape

(22230, 4)

In [449]:
# Por√ß√£o superior dos dados (i.e., cabe√ßalho e primeiras 10 linhas)

modelo_dados.head(10)

        Data  Parametro     Ativo         Valor
0 2021-01-04  Adj Close  ABEV3.SA  1.482789e+01
1 2021-01-04      Close  ABEV3.SA  1.548000e+01
2 2021-01-04       High  ABEV3.SA  1.585000e+01
3 2021-01-04        Low  ABEV3.SA  1.538000e+01
4 2021-01-04       Open  ABEV3.SA  1.579000e+01
5 2021-01-04     Volume  ABEV3.SA  1.783520e+07
6 2021-01-04  Adj Close  B3SA3.SA  1.877842e+01
7 2021-01-04      Close  B3SA3.SA  2.032667e+01
8 2021-01-04       High  B3SA3.SA  2.086333e+01
9 2021-01-04        Low  B3SA3.SA  2.020667e+01

In [450]:
# Por√ß√£o inferior dos dados (i.e., cabe√ßalho e √∫ltimas 10 linhas)

modelo_dados.tail(10)

            Data  Parametro     Ativo         Valor
22220 2021-12-30       High  VALE3.SA  7.898000e+01
22221 2021-12-30        Low  VALE3.SA  7.761000e+01
22222 2021-12-30       Open  VALE3.SA  7.799000e+01
22223 2021-12-30     Volume  VALE3.SA  2.656850e+07
22224 2021-12-30  Adj Close  VIIA3.SA  5.250000e+00
22225 2021-12-30      Close  VIIA3.SA  5.250000e+00
22226 2021-12-30       High  VIIA3.SA  5.320000e+00
22227 2021-12-30        Low  VIIA3.SA  5.020000e+00
22228 2021-12-30       Open  VIIA3.SA  5.040000e+00
22229 2021-12-30     Volume  VIIA3.SA  5.831040e+07

In [451]:
# Observe que a estrutura tem destacado em negrito o nome das colunas (cabe√ßalho) e o nome (ou n√∫mero) das linhas
# Para simplificar, inicialmente podemos pensar em colunas = columns e linhas = index

modelo_dados.columns

Index(['Data', 'Parametro', 'Ativo', 'Valor'], dtype='object')

In [452]:
modelo_dados.index

RangeIndex(start=0, stop=22230, step=1)

In [453]:
#Renomear colunas (utilizamos a estrutura de um dicion√°rio)
# dic = {key : value, key2 : value2}
# Vamos criar outro dataframe (modelo_dados2) para mantermos o original como modelo_dados

modelo_dados2 = modelo_dados.rename({"Data":"Ano-Mes-Dia","Ativo":"Ativo_IBOV"},axis=1)
modelo_dados2

      Ano-Mes-Dia  Parametro Ativo_IBOV         Valor
0      2021-01-04  Adj Close   ABEV3.SA  1.482789e+01
1      2021-01-04      Close   ABEV3.SA  1.548000e+01
2      2021-01-04       High   ABEV3.SA  1.585000e+01
3      2021-01-04        Low   ABEV3.SA  1.538000e+01
4      2021-01-04       Open   ABEV3.SA  1.579000e+01
...           ...        ...        ...           ...
22225  2021-12-30      Close   VIIA3.SA  5.250000e+00
22226  2021-12-30       High   VIIA3.SA  5.320000e+00
22227  2021-12-30        Low   VIIA3.SA  5.020000e+00
22228  2021-12-30       Open   VIIA3.SA  5.040000e+00
22229  2021-12-30     Volume   VIIA3.SA  5.831040e+07

[22230 rows x 4 columns]

In [454]:
# Acessar os dados de algumas colunas espec√≠ficas
# Aten√ß√£o aos colchetes duplos

modelo_dados[["Data","Valor"]]

            Data         Valor
0     2021-01-04  1.482789e+01
1     2021-01-04  1.548000e+01
2     2021-01-04  1.585000e+01
3     2021-01-04  1.538000e+01
4     2021-01-04  1.579000e+01
...          ...           ...
22225 2021-12-30  5.250000e+00
22226 2021-12-30  5.320000e+00
22227 2021-12-30  5.020000e+00
22228 2021-12-30  5.040000e+00
22229 2021-12-30  5.831040e+07

[22230 rows x 2 columns]

In [455]:
# Acessar linhas de acordo com sua posi√ß√£o
#Ex.: Acessor √† primeira linha (lembrar que a indexa√ß√£o come√ßa em 0 e n√£o em 1)

modelo_dados.iloc[0]

Data         2021-01-04 00:00:00
Parametro              Adj Close
Ativo                   ABEV3.SA
Valor                   14.82789
Name: 0, dtype: object

In [456]:
# Acesso √† um conjunto de linhas espec√≠ficas
# Ex.: Quinta linha at√© a nona linha (lembrar tamb√©m que o primeiro √© inclusivo e o segundo n√£o-inclusivo)
# Ver slicing no python para maior compreens√£o

modelo_dados.iloc[4:9]

        Data  Parametro     Ativo         Valor
4 2021-01-04       Open  ABEV3.SA  1.579000e+01
5 2021-01-04     Volume  ABEV3.SA  1.783520e+07
6 2021-01-04  Adj Close  B3SA3.SA  1.877842e+01
7 2021-01-04      Close  B3SA3.SA  2.032667e+01
8 2021-01-04       High  B3SA3.SA  2.086333e+01

In [457]:
# Podemos tranformar qualquer coluna para ser o novo √≠ndice de linhas
# Veja que o index ir√° mudar e n√£o ser√° mais num√©rico
# Isso pode facilitar algumas an√°lises, como plotagem de gr√°ficos considerando dadas

modelo_dados.index = modelo_dados["Data"]
modelo_dados

                 Data  Parametro     Ativo         Valor
Data
2021-01-04 2021-01-04  Adj Close  ABEV3.SA  1.482789e+01
2021-01-04 2021-01-04      Close  ABEV3.SA  1.548000e+01
2021-01-04 2021-01-04       High  ABEV3.SA  1.585000e+01
2021-01-04 2021-01-04        Low  ABEV3.SA  1.538000e+01
2021-01-04 2021-01-04       Open  ABEV3.SA  1.579000e+01
...               ...        ...       ...           ...
2021-12-30 2021-12-30      Close  VIIA3.SA  5.250000e+00
2021-12-30 2021-12-30       High  VIIA3.SA  5.320000e+00
2021-12-30 2021-12-30        Low  VIIA3.SA  5.020000e+00
2021-12-30 2021-12-30       Open  VIIA3.SA  5.040000e+00
2021-12-30 2021-12-30     Volume  VIIA3.SA  5.831040e+07

[22230 rows x 4 columns]

In [458]:
# Quando o √≠ndice de linhas (index) foi especificado, podemos acess√°-lo tamb√©m como nomes al√©m de sua posi√ß√£o
# iloc refere-se √† posi√ß√£o
# loc refere-se ao nome

modelo_dados.loc['2021-03-29']

                 Data  Parametro     Ativo         Valor
Data
2021-03-29 2021-03-29  Adj Close  ABEV3.SA  1.472532e+01
2021-03-29 2021-03-29      Close  ABEV3.SA  1.530000e+01
2021-03-29 2021-03-29       High  ABEV3.SA  1.537000e+01
2021-03-29 2021-03-29        Low  ABEV3.SA  1.501000e+01
2021-03-29 2021-03-29       Open  ABEV3.SA  1.507000e+01
...               ...        ...       ...           ...
2021-03-29 2021-03-29      Close  VIIA3.SA  1.181000e+01
2021-03-29 2021-03-29       High  VIIA3.SA  1.207000e+01
2021-03-29 2021-03-29        Low  VIIA3.SA  1.172000e+01
2021-03-29 2021-03-29       Open  VIIA3.SA  1.195000e+01
2021-03-29 2021-03-29     Volume  VIIA3.SA  3.354890e+07

[90 rows x 4 columns]

In [459]:
# Mesmo exemplo considerando um intervalo

modelo_dados.loc['2021-03-29':'2021-04-06']

                 Data  Parametro     Ativo         Valor
Data
2021-03-29 2021-03-29  Adj Close  ABEV3.SA  1.472532e+01
2021-03-29 2021-03-29      Close  ABEV3.SA  1.530000e+01
2021-03-29 2021-03-29       High  ABEV3.SA  1.537000e+01
2021-03-29 2021-03-29        Low  ABEV3.SA  1.501000e+01
2021-03-29 2021-03-29       Open  ABEV3.SA  1.507000e+01
...               ...        ...       ...           ...
2021-04-06 2021-04-06      Close  VIIA3.SA  1.236000e+01
2021-04-06 2021-04-06       High  VIIA3.SA  1.266000e+01
2021-04-06 2021-04-06        Low  VIIA3.SA  1.228000e+01
2021-04-06 2021-04-06       Open  VIIA3.SA  1.256000e+01
2021-04-06 2021-04-06     Volume  VIIA3.SA  3.254270e+07

[540 rows x 4 columns]

In [460]:
# Acessar uma c√©lula espec√≠fica usando .loc[index , column]
# Nesse caso temos um √≠ndice com duplicatas, por isso temos mais de um valor disposto

modelo_dados.loc['2021-03-29','Valor']

Data
2021-03-29    1.472532e+01
2021-03-29    1.530000e+01
2021-03-29    1.537000e+01
2021-03-29    1.501000e+01
2021-03-29    1.507000e+01
                  ...
2021-03-29    1.181000e+01
2021-03-29    1.207000e+01
2021-03-29    1.172000e+01
2021-03-29    1.195000e+01
2021-03-29    3.354890e+07
Name: Valor, Length: 90, dtype: float64

In [461]:
# Vamos voltar ao index original (num√©rico) s√≥ para fixar o acesso √†s c√©lulas espec√≠ficas
# Por enquanto n√£o se preocupe com as fun√ß√µes range e len. Trabalharemos com elas mais pra frente

modelo_dados.index = range(0,len(modelo_dados))

In [466]:
# Vamos visualizar os dados para posteriormente acessar uma c√©lula espec√≠fica

modelo_dados.head()

        Data  Parametro     Ativo     Valor
0 2021-01-04  Adj Close  ABEV3.SA  14.82789
1 2021-01-04      Close  ABEV3.SA  15.48000
2 2021-01-04       High  ABEV3.SA  15.85000
3 2021-01-04        Low  ABEV3.SA  15.38000
4 2021-01-04       Open  ABEV3.SA  15.79000

In [467]:
# C√©lula linha n¬∫ 3 coluna "Valor" (15.38000)
# Similar ao Excel "C23"

modelo_dados.loc[3,'Valor']

15.38000011444092

In [469]:
# Editar dados de c√©lulas diretamente
# Para nao alterarmos os dados, vamos criar uma c√≥pia e modificar apenas na c√≥pia

modelo_dados2 = modelo_dados
modelo_dados2.at[3,'Valor'] = "Edi√ß√£o"
modelo_dados2.head()

ValueError: ignored

In [463]:
# Considerando uma sequencia de c√©lulas
# Similar ao Excel ex.: "C42:E48"

modelo_dados.loc[3:5,'Data':'Parametro']

        Data Parametro
3 2021-01-04       Low
4 2021-01-04      Open
5 2021-01-04    Volume

## **3. Edi√ß√£o e formata√ß√£o geral da tabela**

In [280]:
# Criar uma c√≥pia dos dados para nao precisar carregar tudo desde o inicio do tutorial
# Caso ocorra algum erro posso voltar a partir daqui

dados_backup = modelo_dados
#modelo_dados = dados_backup

In [281]:
# Relembrando nosso dataframe original
# Vamos usar o .head() pra ter um output reduzido ao longo do tutorial

modelo_dados.head()

        Data  Parametro     Ativo     Valor
0 2021-01-04  Adj Close  ABEV3.SA  14.82789
1 2021-01-04      Close  ABEV3.SA  15.48000
2 2021-01-04       High  ABEV3.SA  15.85000
3 2021-01-04        Low  ABEV3.SA  15.38000
4 2021-01-04       Open  ABEV3.SA  15.79000

In [282]:
# Checar o tipo de dado contido em uma coluna espec√≠fica
# float64 indicando que √© uma coluna num√©rica

modelo_dados["Valor"].dtype

dtype('float64')

In [283]:
# Checar o tipo de dado contido em cada coluna

modelo_dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22230 entries, 0 to 22229
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Data       22230 non-null  datetime64[ns]
 1   Parametro  22230 non-null  object
 2   Ativo      22230 non-null  object
 3   Valor      22230 non-null  float64
dtypes: datetime64[ns](1), float64(1), object(2)
memory usage: 694.8+ KB

In [284]:
# Vamos corrigir a nota√ß√£o dos n√∫meros na coluna "Valor"
# Arredondar para 2 casas decimais

modelo_dados["Valor"] = round(modelo_dados["Valor"],2)
modelo_dados.head()

        Data  Parametro     Ativo  Valor
0 2021-01-04  Adj Close  ABEV3.SA  14.83
1 2021-01-04      Close  ABEV3.SA  15.48
2 2021-01-04       High  ABEV3.SA  15.85
3 2021-01-04        Low  ABEV3.SA  15.38
4 2021-01-04       Open  ABEV3.SA  15.79

In [285]:
# Inserir uma nova coluna vazia com o nome "Ano"

modelo_dados["Ano"] = ""
modelo_dados.head()

        Data  Parametro     Ativo  Valor Ano
0 2021-01-04  Adj Close  ABEV3.SA  14.83
1 2021-01-04      Close  ABEV3.SA  15.48
2 2021-01-04       High  ABEV3.SA  15.85
3 2021-01-04        Low  ABEV3.SA  15.38
4 2021-01-04       Open  ABEV3.SA  15.79

In [286]:
# Excluir a nova coluna criada

modelo_dados = modelo_dados.drop(columns=['Ano'])
modelo_dados.head()

        Data  Parametro     Ativo  Valor
0 2021-01-04  Adj Close  ABEV3.SA  14.83
1 2021-01-04      Close  ABEV3.SA  15.48
2 2021-01-04       High  ABEV3.SA  15.85
3 2021-01-04        Low  ABEV3.SA  15.38
4 2021-01-04       Open  ABEV3.SA  15.79

In [287]:
# Inserir uma coluna "Ano" mas agora na primeira posi√ß√£o (i.e., logo ap√≥s o index) e com o valor 2021
# Posi√ß√£o, Nome da coluna, Dados a serem inseridos

modelo_dados.insert(0,"Ano",2021)
modelo_dados.head()

    Ano       Data  Parametro     Ativo  Valor
0  2021 2021-01-04  Adj Close  ABEV3.SA  14.83
1  2021 2021-01-04      Close  ABEV3.SA  15.48
2  2021 2021-01-04       High  ABEV3.SA  15.85
3  2021 2021-01-04        Low  ABEV3.SA  15.38
4  2021 2021-01-04       Open  ABEV3.SA  15.79

In [288]:
# Inserir uma nova coluna "Mes_Ano" utilizando os dados da coluna "Data" por√©m no formato M√™s/Ano (ex., Mar√ßo/21)
# Aqui usaremos o m√©todo .dt (para garantir que a coluna Data esteja no formato de datas)

modelo_dados["Mes_Ano"] = modelo_dados["Data"].dt.strftime("%B/%y")
modelo_dados

        Ano       Data  Parametro     Ativo        Valor      Mes_Ano
0      2021 2021-01-04  Adj Close  ABEV3.SA        14.83   January/21
1      2021 2021-01-04      Close  ABEV3.SA        15.48   January/21
2      2021 2021-01-04       High  ABEV3.SA        15.85   January/21
3      2021 2021-01-04        Low  ABEV3.SA        15.38   January/21
4      2021 2021-01-04       Open  ABEV3.SA        15.79   January/21
...     ...        ...        ...       ...          ...          ...
22225  2021 2021-12-30      Close  VIIA3.SA         5.25  December/21
22226  2021 2021-12-30       High  VIIA3.SA         5.32  December/21
22227  2021 2021-12-30        Low  VIIA3.SA         5.02  December/21
22228  2021 2021-12-30       Open  VIIA3.SA         5.04  December/21
22229  2021 2021-12-30     Volume  VIIA3.SA  58310400.00  December/21

[22230 rows x 6 columns]

In [289]:
# Mais uma vez, agora extraindo o dia da semana

modelo_dados["Dia_semana"] = modelo_dados["Data"].dt.strftime("%A")
modelo_dados

,Ano,Data,Parametro,Ativo,Valor,Mes_Ano,Dia_semana
0,2021,2021-01-04,Adj Close,ABEV3.SA,14.83,January/21,Monday
1,2021,2021-01-04,Close,ABEV3.SA,15.48,January/21,Monday
2,2021,2021-01-04,High,ABEV3.SA,15.85,January/21,Monday
3,2021,2021-01-04,Low,ABEV3.SA,15.38,January/21,Monday
4,2021,2021-01-04,Open,ABEV3.SA,15.79,January/21,Monday
...,...,...,...,...,...,...,...
22225,2021,2021-12-30,Close,VIIA3.SA,5.25,December/21,Thursday
22226,2021,2021-12-30,High,VIIA3.SA,5.32,December/21,Thursday
22227,2021,2021-12-30,Low,VIIA3.SA,5.02,December/21,Thursday
22228,2021,2021-12-30,Open,VIIA3.SA,5.04,December/21,Thursday
22229,2021,2021-12-30,Volume,VIIA3.SA,58310400.00,December/21,Thursday

In [290]:
# Classificar baseado em uma coluna

modelo_dados = modelo_dados.sort_values("Parametro")
modelo_dados.head()

        Ano       Data  Parametro     Ativo  Valor       Mes_Ano Dia_semana
0      2021 2021-01-04  Adj Close  ABEV3.SA  14.83    January/21     Monday
15612  2021 2021-09-14  Adj Close  JBSS3.SA  31.54  September/21    Tuesday
4962   2021 2021-03-25  Adj Close  BBAS3.SA  27.45      March/21   Thursday
15618  2021 2021-09-14  Adj Close  MGLU3.SA  17.03  September/21    Tuesday
4956   2021 2021-03-25  Adj Close  B3SA3.SA  16.74      March/21   Thursday

In [291]:
# Classificar baseado em mais de uma coluna e ordem decrescente (classifica√ß√£o personalizada)

modelo_dados = modelo_dados.sort_values(["Parametro","Valor"],ascending=False)
modelo_dados.head()

,Ano,Data,Parametro,Ativo,Valor,Mes_Ano,Dia_semana
2945,2021,2021-02-22,Volume,PETR4.SA,490230400.0,February/21,Monday
3035,2021,2021-02-23,Volume,PETR4.SA,293503100.0,February/21,Tuesday
20933,2021,2021-12-09,Volume,MGLU3.SA,257831300.0,December/21,Thursday
20843,2021,2021-12-08,Volume,MGLU3.SA,255628900.0,December/21,Wednesday
21113,2021,2021-12-13,Volume,MGLU3.SA,255551000.0,December/21,Monday

In [292]:
# Filtrar dados baseado em uma coluna categ√≥rica

modelo_dados_filtro = modelo_dados[modelo_dados["Parametro"] == 'Adj Close']
modelo_dados_filtro.head()

        Ano       Data  Parametro     Ativo   Valor  Mes_Ano Dia_semana
12678  2021 2021-07-28  Adj Close  VALE3.SA  102.35  July/21  Wednesday
12498  2021 2021-07-26  Adj Close  VALE3.SA  101.74  July/21     Monday
7818   2021 2021-05-11  Adj Close  VALE3.SA  101.58   May/21    Tuesday
11688  2021 2021-07-13  Adj Close  VALE3.SA  100.99  July/21    Tuesday
12768  2021 2021-07-29  Adj Close  VALE3.SA  100.84  July/21   Thursday

In [293]:
# Filtrar dados baseado em uma coluna categ√≥rica (desta vez que n√£o contenha/diferente de)

modelo_dados_filtro2 = modelo_dados[modelo_dados["Dia_semana"] != 'Monday']
modelo_dados_filtro2.head()

,Ano,Data,Parametro,Ativo,Valor,Mes_Ano,Dia_semana
3035,2021,2021-02-23,Volume,PETR4.SA,293503100.0,February/21,Tuesday
20933,2021,2021-12-09,Volume,MGLU3.SA,257831300.0,December/21,Thursday
20843,2021,2021-12-08,Volume,MGLU3.SA,255628900.0,December/21,Wednesday
13205,2021,2021-08-05,Volume,PETR4.SA,223915900.0,August/21,Thursday
2855,2021,2021-02-19,Volume,PETR4.SA,215834800.0,February/21,Friday

In [294]:
# Filtrar dados baseado em uma coluna quantitativa

modelo_dados_filtro3 = modelo_dados[modelo_dados["Valor"] <= 50]
modelo_dados_filtro3.head()

        Ano       Data Parametro     Ativo  Valor      Mes_Ano Dia_semana
6778   2021 2021-04-26      Open  CSNA3.SA  49.85     April/21     Monday
18076  2021 2021-10-22      Open  SUZB3.SA  49.80   October/21     Friday
17266  2021 2021-10-08      Open  SUZB3.SA  49.80   October/21     Friday
18616  2021 2021-11-01      Open  SUZB3.SA  49.77  November/21     Monday
18796  2021 2021-11-04      Open  SUZB3.SA  49.77  November/21   Thursday

In [295]:
# Filtros condicionais: todas as condi√ß√µes sejam verdadeiras (&)

modelo_dados_filtro4 = modelo_dados[(modelo_dados["Valor"] <= 50) & (modelo_dados["Parametro"] != 'Open')]
modelo_dados_filtro4.head()

        Ano       Data Parametro     Ativo  Valor     Mes_Ano Dia_semana
18075  2021 2021-10-22       Low  SUZB3.SA  49.72  October/21     Friday
6777   2021 2021-04-26       Low  CSNA3.SA  49.62    April/21     Monday
7587   2021 2021-05-07       Low  CSNA3.SA  49.62      May/21     Friday
17085  2021 2021-10-06       Low  SUZB3.SA  49.60  October/21  Wednesday
17715  2021 2021-10-18       Low  SUZB3.SA  49.45  October/21     Monday

In [296]:
# Filtros condicionais: pelo menos uma verdadeiras (|) 

modelo_dados_filtro5 = modelo_dados[(modelo_dados["Valor"] <= 15) | (modelo_dados["Ativo"] == 'PETR4.SA')]
modelo_dados_filtro5.head()

,Ano,Data,Parametro,Ativo,Valor,Mes_Ano,Dia_semana
2945,2021,2021-02-22,Volume,PETR4.SA,490230400.0,February/21,Monday
3035,2021,2021-02-23,Volume,PETR4.SA,293503100.0,February/21,Tuesday
13205,2021,2021-08-05,Volume,PETR4.SA,223915900.0,August/21,Thursday
2855,2021,2021-02-19,Volume,PETR4.SA,215834800.0,February/21,Friday
6455,2021,2021-04-19,Volume,PETR4.SA,196519100.0,April/21,Monday

In [297]:
# Filtros condicionais mais complexos
# "Quando isso, retorne aquilo"
# Neste exemplo, quando "Valor" <= 15, retorne o "Ativo"

modelo_dados_filtro6 = modelo_dados.loc[modelo_dados["Valor"] <= 15, "Ativo"]
modelo_dados_filtro6.head()

2344     ABEV3.SA
17914    ABEV3.SA
11788    VIIA3.SA
10258    VIIA3.SA
970      PRIO3.SA
Name: Ativo, dtype: object

In [298]:
# Filtros condicionais mais complexos
# "Quando isso ocorrer entre duas colunas, retorne aquilo"
# Neste exemplo, quando "Valor" < "Ano", retorne o "Dia_semana"

modelo_dados_filtro7 = modelo_dados.loc[modelo_dados["Valor"] < modelo_dados["Ano"], "Dia_semana"]
modelo_dados_filtro7.head()

7732        Monday
7912     Wednesday
9172       Tuesday
7642        Friday
12772     Thursday
Name: Dia_semana, dtype: object

In [299]:
# Substitui√ß√£o simples

modelo_dados = modelo_dados.replace("Monday","Segunda-feira")
modelo_dados.head()

,Ano,Data,Parametro,Ativo,Valor,Mes_Ano,Dia_semana
2945,2021,2021-02-22,Volume,PETR4.SA,490230400.0,February/21,Segunda-feira
3035,2021,2021-02-23,Volume,PETR4.SA,293503100.0,February/21,Tuesday
20933,2021,2021-12-09,Volume,MGLU3.SA,257831300.0,December/21,Thursday
20843,2021,2021-12-08,Volume,MGLU3.SA,255628900.0,December/21,Wednesday
21113,2021,2021-12-13,Volume,MGLU3.SA,255551000.0,December/21,Segunda-feira

In [300]:
# Substitui√ß√£o mais complexa, usando "express√µes regulares (regex)"
# Substituir os "a" por vazio (""), por√©m apenas se estiverem no fim da palavra
# Veja no exemplo que o "a" de feira foi exclu√≠do, por√©m outros "a" do dataframe continuaram

modelo_dados2 = modelo_dados.replace(to_replace=r'a$', value='',regex=True)
modelo_dados2.head()

,Ano,Data,Parametro,Ativo,Valor,Mes_Ano,Dia_semana
2945,2021,2021-02-22,Volume,PETR4.SA,490230400.0,February/21,Segunda-feir
3035,2021,2021-02-23,Volume,PETR4.SA,293503100.0,February/21,Tuesday
20933,2021,2021-12-09,Volume,MGLU3.SA,257831300.0,December/21,Thursday
20843,2021,2021-12-08,Volume,MGLU3.SA,255628900.0,December/21,Wednesday
21113,2021,2021-12-13,Volume,MGLU3.SA,255551000.0,December/21,Segunda-feir

In [301]:
# Substituir "Tu" que estejam no in√≠cio das palavras

modelo_dados3 = modelo_dados.replace(to_replace=r'^Tu', value='',regex=True)
modelo_dados3.head()

,Ano,Data,Parametro,Ativo,Valor,Mes_Ano,Dia_semana
2945,2021,2021-02-22,Volume,PETR4.SA,490230400.0,February/21,Segunda-feira
3035,2021,2021-02-23,Volume,PETR4.SA,293503100.0,February/21,esday
20933,2021,2021-12-09,Volume,MGLU3.SA,257831300.0,December/21,Thursday
20843,2021,2021-12-08,Volume,MGLU3.SA,255628900.0,December/21,Wednesday
21113,2021,2021-12-13,Volume,MGLU3.SA,255551000.0,December/21,Segunda-feira

## **4. Edi√ß√£o e formata√ß√£o mais espec√≠fica da tabela**

In [303]:
# Para manipular vari√°veis categ√≥ricas, podemos usar o m√©todo str (string)
# Colocando todos os caracteres min√∫sculos

modelo_dados["Ativo2"] = modelo_dados["Ativo"].str.lower()
modelo_dados.head()

,Ano,Data,Parametro,Ativo,Valor,Mes_Ano,Dia_semana,Ativo2
2945,2021,2021-02-22,Volume,PETR4.SA,490230400.0,February/21,Segunda-feira,petr4.sa
3035,2021,2021-02-23,Volume,PETR4.SA,293503100.0,February/21,Tuesday,petr4.sa
20933,2021,2021-12-09,Volume,MGLU3.SA,257831300.0,December/21,Thursday,mglu3.sa
20843,2021,2021-12-08,Volume,MGLU3.SA,255628900.0,December/21,Wednesday,mglu3.sa
21113,2021,2021-12-13,Volume,MGLU3.SA,255551000.0,December/21,Segunda-feira,mglu3.sa

In [435]:
# Todos os caracteres mai√∫sculos

modelo_dados["Ativo2"] = modelo_dados["Ativo2"].str.upper()
modelo_dados.head()

,Ano,Data,Parametro,Ativo,Valor,Mes_Ano,Dia_semana,Ativo2,Ativo_trad,Restante_SA,ON_PN_UNIT,So_letras,Concatenados
2945,2021,2021-02-22,Volume,PETR4.SA,490230400.0,February/21,Segunda-feira,PETR4.SA,PETR4,SA,4,PETR,PETR_4
3035,2021,2021-02-23,Volume,PETR4.SA,293503100.0,February/21,Tuesday,PETR4.SA,PETR4,SA,4,PETR,PETR_4
20933,2021,2021-12-09,Volume,MGLU3.SA,257831300.0,December/21,Thursday,MGLU3.SA,MGLU3,SA,3,MGLU,MGLU_3
20843,2021,2021-12-08,Volume,MGLU3.SA,255628900.0,December/21,Wednesday,MGLU3.SA,MGLU3,SA,3,MGLU,MGLU_3
21113,2021,2021-12-13,Volume,MGLU3.SA,255551000.0,December/21,Segunda-feira,MGLU3.SA,MGLU3,SA,3,MGLU,MGLU_3

In [442]:
# Fun√ß√£o Inicial.Maiuscula (Proper)

modelo_dados["Ativo3"] = modelo_dados["Ativo"].str.title()
modelo_dados.head()

,Ano,Data,Parametro,Ativo,Valor,Mes_Ano,Dia_semana,Ativo2,Ativo_trad,Restante_SA,ON_PN_UNIT,So_letras,Concatenados,Ativo3
2945,2021,2021-02-22,Volume,PETR4.SA,490230400.0,February/21,Segunda-feira,PETR4.SA,PETR4,SA,4,PETR,PETR_4,Petr4.Sa
3035,2021,2021-02-23,Volume,PETR4.SA,293503100.0,February/21,Tuesday,PETR4.SA,PETR4,SA,4,PETR,PETR_4,Petr4.Sa
20933,2021,2021-12-09,Volume,MGLU3.SA,257831300.0,December/21,Thursday,MGLU3.SA,MGLU3,SA,3,MGLU,MGLU_3,Mglu3.Sa
20843,2021,2021-12-08,Volume,MGLU3.SA,255628900.0,December/21,Wednesday,MGLU3.SA,MGLU3,SA,3,MGLU,MGLU_3,Mglu3.Sa
21113,2021,2021-12-13,Volume,MGLU3.SA,255551000.0,December/21,Segunda-feira,MGLU3.SA,MGLU3,SA,3,MGLU,MGLU_3,Mglu3.Sa

In [474]:
# Fun√ß√£o Len (n√∫mero de caracteres de uma c√©lula)

modelo_dados["N_caract"] = modelo_dados["Parametro"].str.len()
modelo_dados.head()

        Data  Parametro     Ativo     Valor  N_caract
0 2021-01-04  Adj Close  ABEV3.SA  14.82789         9
1 2021-01-04      Close  ABEV3.SA  15.48000         5
2 2021-01-04       High  ABEV3.SA  15.85000         4
3 2021-01-04        Low  ABEV3.SA  15.38000         3
4 2021-01-04       Open  ABEV3.SA  15.79000         4

In [305]:
# Texto para colunas definindo um (ou mais) caracteres espec√≠ficos

modelo_dados[["Ativo_trad","Restante_SA"]] = modelo_dados["Ativo2"].str.split(".",expand=True)
modelo_dados.head()

,Ano,Data,Parametro,Ativo,Valor,Mes_Ano,Dia_semana,Ativo2,Ativo_trad,Restante_SA
2945,2021,2021-02-22,Volume,PETR4.SA,490230400.0,February/21,Segunda-feira,PETR4.SA,PETR4,SA
3035,2021,2021-02-23,Volume,PETR4.SA,293503100.0,February/21,Tuesday,PETR4.SA,PETR4,SA
20933,2021,2021-12-09,Volume,MGLU3.SA,257831300.0,December/21,Thursday,MGLU3.SA,MGLU3,SA
20843,2021,2021-12-08,Volume,MGLU3.SA,255628900.0,December/21,Wednesday,MGLU3.SA,MGLU3,SA
21113,2021,2021-12-13,Volume,MGLU3.SA,255551000.0,December/21,Segunda-feira,MGLU3.SA,MGLU3,SA

In [306]:
# Obter o √∫ltimo caractere (transformando em texto, fun√ß√µes right, left...)

modelo_dados["ON_PN_UNIT"] = modelo_dados["Ativo_trad"].str[-1]
modelo_dados.head()

,Ano,Data,Parametro,Ativo,Valor,Mes_Ano,Dia_semana,Ativo2,Ativo_trad,Restante_SA,ON_PN_UNIT
2945,2021,2021-02-22,Volume,PETR4.SA,490230400.0,February/21,Segunda-feira,PETR4.SA,PETR4,SA,4
3035,2021,2021-02-23,Volume,PETR4.SA,293503100.0,February/21,Tuesday,PETR4.SA,PETR4,SA,4
20933,2021,2021-12-09,Volume,MGLU3.SA,257831300.0,December/21,Thursday,MGLU3.SA,MGLU3,SA,3
20843,2021,2021-12-08,Volume,MGLU3.SA,255628900.0,December/21,Wednesday,MGLU3.SA,MGLU3,SA,3
21113,2021,2021-12-13,Volume,MGLU3.SA,255551000.0,December/21,Segunda-feira,MGLU3.SA,MGLU3,SA,3

In [307]:
# Obter os primeiros caracteres (transformando em texto, fun√ß√µes right, left...)

modelo_dados["So_letras"] = modelo_dados["Ativo_trad"].str[0:4]
modelo_dados.head()

,Ano,Data,Parametro,Ativo,Valor,Mes_Ano,Dia_semana,Ativo2,Ativo_trad,Restante_SA,ON_PN_UNIT,So_letras
2945,2021,2021-02-22,Volume,PETR4.SA,490230400.0,February/21,Segunda-feira,PETR4.SA,PETR4,SA,4,PETR
3035,2021,2021-02-23,Volume,PETR4.SA,293503100.0,February/21,Tuesday,PETR4.SA,PETR4,SA,4,PETR
20933,2021,2021-12-09,Volume,MGLU3.SA,257831300.0,December/21,Thursday,MGLU3.SA,MGLU3,SA,3,MGLU
20843,2021,2021-12-08,Volume,MGLU3.SA,255628900.0,December/21,Wednesday,MGLU3.SA,MGLU3,SA,3,MGLU
21113,2021,2021-12-13,Volume,MGLU3.SA,255551000.0,December/21,Segunda-feira,MGLU3.SA,MGLU3,SA,3,MGLU

In [308]:
# Fun√ß√£o concatenar do Excel

modelo_dados["Concatenados"] = modelo_dados["So_letras"] + "_" + modelo_dados["ON_PN_UNIT"]
modelo_dados.head()

,Ano,Data,Parametro,Ativo,Valor,Mes_Ano,Dia_semana,Ativo2,Ativo_trad,Restante_SA,ON_PN_UNIT,So_letras,Concatenados
2945,2021,2021-02-22,Volume,PETR4.SA,490230400.0,February/21,Segunda-feira,PETR4.SA,PETR4,SA,4,PETR,PETR_4
3035,2021,2021-02-23,Volume,PETR4.SA,293503100.0,February/21,Tuesday,PETR4.SA,PETR4,SA,4,PETR,PETR_4
20933,2021,2021-12-09,Volume,MGLU3.SA,257831300.0,December/21,Thursday,MGLU3.SA,MGLU3,SA,3,MGLU,MGLU_3
20843,2021,2021-12-08,Volume,MGLU3.SA,255628900.0,December/21,Wednesday,MGLU3.SA,MGLU3,SA,3,MGLU,MGLU_3
21113,2021,2021-12-13,Volume,MGLU3.SA,255551000.0,December/21,Segunda-feira,MGLU3.SA,MGLU3,SA,3,MGLU,MGLU_3

In [309]:
# Remover duplicatas, mantendo o primeiro valor observado

modelo_dados2 = modelo_dados.drop_duplicates(subset=['Concatenados'], keep='first')
modelo_dados2

,Ano,Data,Parametro,Ativo,Valor,Mes_Ano,Dia_semana,Ativo2,Ativo_trad,Restante_SA,ON_PN_UNIT,So_letras,Concatenados
2945,2021,2021-02-22,Volume,PETR4.SA,490230400.0,February/21,Segunda-feira,PETR4.SA,PETR4,SA,4,PETR,PETR_4
20933,2021,2021-12-09,Volume,MGLU3.SA,257831300.0,December/21,Thursday,MGLU3.SA,MGLU3,SA,3,MGLU,MGLU_3
19259,2021,2021-11-11,Volume,VIIA3.SA,169410000.0,November/21,Thursday,VIIA3.SA,VIIA3,SA,3,VIIA,VIIA_3
3029,2021,2021-02-23,Volume,PETR3.SA,135100700.0,February/21,Tuesday,PETR3.SA,PETR3,SA,3,PETR,PETR_3
9191,2021,2021-06-02,Volume,B3SA3.SA,133297700.0,June/21,Wednesday,B3SA3.SA,B3SA3,SA,3,B3SA,B3SA_3
18851,2021,2021-11-05,Volume,ITUB4.SA,111622600.0,November/21,Friday,ITUB4.SA,ITUB4,SA,4,ITUB,ITUB_4
18833,2021,2021-11-05,Volume,BBDC4.SA,107391400.0,November/21,Friday,BBDC4.SA,BBDC4,SA,4,BBDC,BBDC_4
2897,2021,2021-02-22,Volume,BBAS3.SA,102036100.0,February/21,Segunda-feira,BBAS3.SA,BBAS3,SA,3,BBAS,BBAS_3
21377,2021,2021-12-16,Volume,JBSS3.SA,94175000.0,December/21,Thursday,JBSS3.SA,JBSS3,SA,3,JBSS,JBSS_3
18365,2021,2021-10-28,Volume,ABEV3.SA,91395500.0,October/21,Thursday,ABEV3.SA,ABEV3,SA,3,ABEV,ABEV_3
18713,2021,2021-11-03,Volume,VALE3.SA,77316900.0,November/21,Wednesday,VALE3.SA,VALE3,SA,3,VALE,VALE_3
521,2021,2021-01-11,Volume,PRIO3.SA,59799000.0,January/21,Segunda-feira,PRIO3.SA,PRIO3,SA,3,PRIO,PRIO_3
1247,2021,2021-01-21,Volume,SUZB3.SA,35970400.0,January/21,Thursday,SUZB3.SA,SUZB3,SA,3,SUZB,SUZB_3
3095,2021,2021-02-24,Volume,GGBR4.SA,35435300.0,February/21,Wednesday,GGBR4.SA,GGBR4,SA,4,GGBR,GGBR_4
2999,2021,2021-02-23,Volume,CSNA3.SA,30320600.0,February/21,Tuesday,CSNA3.SA,CSNA3,SA,3,CSNA,CSNA_3

In [310]:
# Remover duplicatas, mantendo o √∫ltimo valor observado

modelo_dados3 = modelo_dados.drop_duplicates(subset=['Concatenados'], keep='last')
modelo_dados3

,Ano,Data,Parametro,Ativo,Valor,Mes_Ano,Dia_semana,Ativo2,Ativo_trad,Restante_SA,ON_PN_UNIT,So_letras,Concatenados
19608,2021,2021-11-18,Adj Close,VALE3.SA,60.03,November/21,Thursday,VALE3.SA,VALE3,SA,3,VALE,VALE_3
18342,2021,2021-10-27,Adj Close,SUZB3.SA,47.81,October/21,Wednesday,SUZB3.SA,SUZB3,SA,3,SUZB,SUZB_3
3342,2021,2021-03-01,Adj Close,BBAS3.SA,25.75,March/21,Segunda-feira,BBAS3.SA,BBAS3,SA,3,BBAS,BBAS_3
22176,2021,2021-12-30,Adj Close,ITUB4.SA,20.88,December/21,Thursday,ITUB4.SA,ITUB4,SA,4,ITUB,ITUB_4
42,2021,2021-01-04,Adj Close,JBSS3.SA,20.80,January/21,Segunda-feira,JBSS3.SA,JBSS3,SA,3,JBSS,JBSS_3
1830,2021,2021-02-02,Adj Close,GGBR4.SA,20.29,February/21,Tuesday,GGBR4.SA,GGBR4,SA,4,GGBR,GGBR_4
19554,2021,2021-11-18,Adj Close,CSNA3.SA,19.65,November/21,Thursday,CSNA3.SA,CSNA3,SA,3,CSNA,CSNA_3
18738,2021,2021-11-04,Adj Close,BBDC4.SA,18.75,November/21,Thursday,BBDC4.SA,BBDC4,SA,4,BBDC,BBDC_4
3840,2021,2021-03-08,Adj Close,PETR4.SA,17.15,March/21,Segunda-feira,PETR4.SA,PETR4,SA,4,PETR,PETR_4
3564,2021,2021-03-03,Adj Close,PETR3.SA,17.12,March/21,Wednesday,PETR3.SA,PETR3,SA,3,PETR,PETR_3
1506,2021,2021-01-27,Adj Close,PRIO3.SA,13.68,January/21,Wednesday,PRIO3.SA,PRIO3,SA,3,PRIO,PRIO_3
3330,2021,2021-03-01,Adj Close,ABEV3.SA,13.25,March/21,Segunda-feira,ABEV3.SA,ABEV3,SA,3,ABEV,ABEV_3
20346,2021,2021-12-01,Adj Close,B3SA3.SA,10.60,December/21,Wednesday,B3SA3.SA,B3SA3,SA,3,B3SA,B3SA_3
21198,2021,2021-12-14,Adj Close,MGLU3.SA,5.74,December/21,Tuesday,MGLU3.SA,MGLU3,SA,3,MGLU,MGLU_3
21774,2021,2021-12-22,Adj Close,VIIA3.SA,4.50,December/21,Wednesday,VIIA3.SA,VIIA3,SA,3,VIIA,VIIA_3

In [311]:
# Remover duplicatas considerando mais de uma coluna

modelo_dados4 = modelo_dados.drop_duplicates(subset=['Mes_Ano','Dia_semana'], keep='first')
modelo_dados4

,Ano,Data,Parametro,Ativo,Valor,Mes_Ano,Dia_semana,Ativo2,Ativo_trad,Restante_SA,ON_PN_UNIT,So_letras,Concatenados
2945,2021,2021-02-22,Volume,PETR4.SA,490230400.0,February/21,Segunda-feira,PETR4.SA,PETR4,SA,4,PETR,PETR_4
3035,2021,2021-02-23,Volume,PETR4.SA,293503100.0,February/21,Tuesday,PETR4.SA,PETR4,SA,4,PETR,PETR_4
20933,2021,2021-12-09,Volume,MGLU3.SA,257831300.0,December/21,Thursday,MGLU3.SA,MGLU3,SA,3,MGLU,MGLU_3
20843,2021,2021-12-08,Volume,MGLU3.SA,255628900.0,December/21,Wednesday,MGLU3.SA,MGLU3,SA,3,MGLU,MGLU_3
21113,2021,2021-12-13,Volume,MGLU3.SA,255551000.0,December/21,Segunda-feira,MGLU3.SA,MGLU3,SA,3,MGLU,MGLU_3
13205,2021,2021-08-05,Volume,PETR4.SA,223915900.0,August/21,Thursday,PETR4.SA,PETR4,SA,4,PETR,PETR_4
2855,2021,2021-02-19,Volume,PETR4.SA,215834800.0,February/21,Friday,PETR4.SA,PETR4,SA,4,PETR,PETR_4
21023,2021,2021-12-10,Volume,MGLU3.SA,209180700.0,December/21,Friday,MGLU3.SA,MGLU3,SA,3,MGLU,MGLU_3
6455,2021,2021-04-19,Volume,PETR4.SA,196519100.0,April/21,Segunda-feira,PETR4.SA,PETR4,SA,4,PETR,PETR_4
8075,2021,2021-05-14,Volume,PETR4.SA,196135500.0,May/21,Friday,PETR4.SA,PETR4,SA,4,PETR,PETR_4
3575,2021,2021-03-03,Volume,PETR4.SA,185688500.0,March/21,Wednesday,PETR4.SA,PETR4,SA,4,PETR,PETR_4
3215,2021,2021-02-25,Volume,PETR4.SA,170233000.0,February/21,Thursday,PETR4.SA,PETR4,SA,4,PETR,PETR_4
19259,2021,2021-11-11,Volume,VIIA3.SA,169410000.0,November/21,Thursday,VIIA3.SA,VIIA3,SA,3,VIIA,VIIA_3
22013,2021,2021-12-28,Volume,MGLU3.SA,165573900.0,December/21,Tuesday,MGLU3.SA,MGLU3,SA,3,MGLU,MGLU_3
18515,2021,2021-10-29,Volume,PETR4.SA,157340000.0,October/21,Friday,PETR4.SA,PETR4,SA,4,PETR,PETR_4
15365,2021,2021-09-09,Volume,PETR4.SA,156617100.0,September/21,Thursday,PETR4.SA,PETR4,SA,4,PETR,PETR_4
3125,2021,2021-02-24,Volume,PETR4.SA,155246400.0,February/21,Wednesday,PETR4.SA,PETR4,SA,4,PETR,PETR_4
3485,2021,2021-03-02,Volume,PETR4.SA,147772300.0,March/21,Tuesday,PETR4.SA,PETR4,SA,4,PETR,PETR_4
19313,2021,2021-11-12,Volume,MGLU3.SA,142722700.0,November/21,Friday,MGLU3.SA,MGLU3,SA,3,MGLU,MGLU_3
3845,2021,2021-03-08,Volume,PETR4.SA,141142800.0,March/21,Segunda-feira,PETR4.SA,PETR4,SA,4,PETR,PETR_4
19403,2021,2021-11-16,Volume,MGLU3.SA,141030500.0,November/21,Tuesday,MGLU3.SA,MGLU3,SA,3,MGLU,MGLU_3
18155,2021,2021-10-25,Volume,PETR4.SA,135830600.0,October/21,Segunda-feira,PETR4.SA,PETR4,SA,4,PETR,PETR_4
9191,2021,2021-06-02,Volume,B3SA3.SA,133297700.0,June/21,Wednesday,B3SA3.SA,B3SA3,SA,3,B3SA,B3SA_3
19493,2021,2021-11-17,Volume,MGLU3.SA,131992600.0,November/21,Wednesday,MGLU3.SA,MGLU3,SA,3,MGLU,MGLU_3
15905,2021,2021-09-17,Volume,PETR4.SA,131694100.0,September/21,Friday,PETR4.SA,PETR4,SA,4,PETR,PETR_4
4115,2021,2021-03-11,Volume,PETR4.SA,130577500.0,March/21,Thursday,PETR4.SA,PETR4,SA,4,PETR,PETR_4
17381,2021,2021-10-13,Volume,B3SA3.SA,127162500.0,October/21,Wednesday,B3SA3.SA,B3SA3,SA,3,B3SA,B3SA_3
3755,2021,2021-03-05,Volume,PETR4.SA,126306300.0,March/21,Friday,PETR4.SA,PETR4,SA,4,PETR,PETR_4
16535,2021,2021-09-28,Volume,PETR4.SA,117874300.0,September/21,Tuesday,PETR4.SA,PETR4,SA,4,PETR,PETR_4
10235,2021,2021-06-18,Volume,PETR4.SA,115250700.0,June/21,Friday,PETR4.SA,PETR4,SA,4,PETR,PETR_4
17795,2021,2021-10-19,Volume,PETR4.SA,111484000.0,October/21,Tuesday,PETR4.SA,PETR4,SA,4,PETR,PETR_4
14825,2021,2021-08-31,Volume,PETR4.SA,110574300.0,August/21,Tuesday,PETR4.SA,PETR4,SA,4,PETR,PETR_4
16121,2021,2021-09-22,Volume,B3SA3.SA,108149000.0,September/21,Wednesday,B3SA3.SA,B3SA3,SA,3,B3SA,B3SA_3
9641,2021,2021-06-10,Volume,B3SA3.SA,105103200.0,June/21,Thursday,B3SA3.SA,B3SA3,SA,3,B3SA,B3SA_3
18605,2021,2021-11-01,Volume,PETR4.SA,102157200.0,November/21,Segunda-feira,PETR4.SA,PETR4,SA,4,PETR,PETR_4
17975,2021,2021-10-21,Volume,PETR4.SA,101567700.0,October/21,Thursday,PETR4.SA,PETR4,SA,4,PETR,PETR_4
13835,2021,2021-08-16,Volume,PETR4.SA,101262100.0,August/21,Segunda-feira,PETR4.SA,PETR4,SA,4,PETR,PETR_4
13073,2021,2021-08-04,Volume,BBDC4.SA,98188200.0,August/21,Wednesday,BBDC4.SA,BBDC4,SA,4,BBDC,BBDC_4
11315,2021,2021-07-06,Volume,PETR4.SA,97839700.0,July/21,Tuesday,PETR4.SA,PETR4,SA,4,PETR,PETR_4
245,2021,2021-01-06,Volume,PETR4.SA,96562500.0,January/21,Wednesday,PETR4.SA,PETR4,SA,4,PETR,PETR_4
155,2021,2021-01-05,Volume,PETR4.SA,95181100.0,January/21,Tuesday,PETR4.SA,PETR4,SA,4,PETR,PETR_4
6545,2021,2021-04-20,Volume,PETR4.SA,94965400.0,April/21,Tuesday,PETR4.SA,PETR4,SA,4,PETR,PETR_4
6185,2021,2021-04-14,Volume,PETR4.SA,90836500.0,April/21,Wednesday,PETR4.SA,PETR4,SA,4,PETR,PETR_4
9155,2021,2021-06-01,Volume,PETR4.SA,90744900.0,June/21,Tuesday,PETR4.SA,PETR4,SA,4,PETR,PETR_4
7895,2021,2021-05-12,Volume,PETR4.SA,89980700.0,May/21,Wednesday,PETR4.SA,PETR4,SA,4,PETR,PETR_4
16445,2021,2021-09-27,Volume,PETR4.SA,89178700.0,September/21,Segunda-feira,PETR4.SA,PETR4,SA,4,PETR,PETR_4
14195,2021,2021-08-20,Volume,PETR4.SA,88445600.0,August/21,Friday,PETR4.SA,PETR4,SA,4,PETR,PETR_4
8165,2021,2021-05-17,Volume,PETR4.SA,83512600.0,May/21,Segunda-feira,PETR4.SA,PETR4,SA,4,PETR,PETR_4
875,2021,2021-01-15,Volume,PETR4.SA,80673300.0,January/21,Friday,PETR4.SA,PETR4,SA,4,PETR,PETR_4
11495,2021,2021-07-08,Volume,PETR4.SA,80574200.0,July/21,Thursday,PETR4.SA,PETR4,SA,4,PETR,PETR_4
12035,2021,2021-07-19,Volume,PETR4.SA,80087700.0,July/21,Segunda-feira,PETR4.SA,PETR4,SA,4,PETR,PETR_4
7331,2021,2021-05-04,Volume,ITUB4.SA,79002100.0,May/21,Tuesday,ITUB4.SA,ITUB4,SA,4,ITUB,ITUB_4
7985,2021,2021-05-13,Volume,PETR4.SA,77282100.0,May/21,Thursday,PETR4.SA,PETR4,SA,4,PETR,PETR_4
1619,2021,2021-01-28,Volume,VIIA3.SA,76742400.0,January/21,Thursday,VIIA3.SA,VIIA3,SA,3,VIIA,VIIA_3
65,2021,2021-01-04,Volume,PETR4.SA,74719700.0,January/21,Segunda-feira,PETR4.SA,PETR4,SA,4,PETR,PETR_4
9425,2021,2021-06-07,Volume,PETR4.SA,74548900.0,June/21,Segunda-feira,PETR4.SA,PETR4,SA,4,PETR,PETR_4
12845,2021,2021-07-30,Volume,PETR4.SA,74150400.0,July/21,Friday,PETR4.SA,PETR4,SA,4,PETR,PETR_4
11405,2021,2021-07-07,Volume,PETR4.SA,73793500.0,July/21,Wednesday,PETR4.SA,PETR4,SA,4,PETR,PETR_4
6275,2021,2021-04-15,Volume,PETR4.SA,64193600.0,April/21,Thursday,PETR4.SA,PETR4,SA,4,PETR,PETR_4
7175,2021,2021-04-30,Volume,PETR4.SA,61039200.0,April/21,Friday,PETR4.SA,PETR4,SA,4,PETR,PETR_4

In [321]:
# Formata√ß√£o condicional usando cor da fonte

modelo_dados3.style.applymap(lambda x: 'color : green' if x=='PETR4' else 'color : red',subset=["Ativo_trad"])

In [314]:
# A coluna ON_PN_UNIT embora apresente n√∫meros, n√£o √© reconhecida como num√©rica

modelo_dados["ON_PN_UNIT"].dtype

dtype('O')

In [322]:
# Vamos converte-la em num√©rica
# Depois fazer um filtro para reduzir o output (15 primeiras linhas)
# Por fim e aplicar uma formata√ß√£o condicional com cor no fundo da c√©lula e inserindo duas casas decimais


modelo_dados2.style.format('{:.2f}', na_rep="",subset=["ON_PN_UNIT"]).applymap(lambda x: 'background-color : red' if x>3 else 'background-color : green',subset=["ON_PN_UNIT"])

## **5. Tabelas din√¢micas e manipula√ß√£o de dados entre duas tabelas**

In [325]:
# Relembrando nossa tabela

modelo_dados

,Ano,Data,Parametro,Ativo,Valor,Mes_Ano,Dia_semana,Ativo2,Ativo_trad,Restante_SA,ON_PN_UNIT,So_letras,Concatenados
2945,2021,2021-02-22,Volume,PETR4.SA,4.902304e+08,February/21,Segunda-feira,PETR4.SA,PETR4,SA,4,PETR,PETR_4
3035,2021,2021-02-23,Volume,PETR4.SA,2.935031e+08,February/21,Tuesday,PETR4.SA,PETR4,SA,4,PETR,PETR_4
20933,2021,2021-12-09,Volume,MGLU3.SA,2.578313e+08,December/21,Thursday,MGLU3.SA,MGLU3,SA,3,MGLU,MGLU_3
20843,2021,2021-12-08,Volume,MGLU3.SA,2.556289e+08,December/21,Wednesday,MGLU3.SA,MGLU3,SA,3,MGLU,MGLU_3
21113,2021,2021-12-13,Volume,MGLU3.SA,2.555510e+08,December/21,Segunda-feira,MGLU3.SA,MGLU3,SA,3,MGLU,MGLU_3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
21504,2021,2021-12-17,Adj Close,VIIA3.SA,4.850000e+00,December/21,Friday,VIIA3.SA,VIIA3,SA,3,VIIA,VIIA_3
21594,2021,2021-12-20,Adj Close,VIIA3.SA,4.740000e+00,December/21,Segunda-feira,VIIA3.SA,VIIA3,SA,3,VIIA,VIIA_3
21684,2021,2021-12-21,Adj Close,VIIA3.SA,4.610000e+00,December/21,Tuesday,VIIA3.SA,VIIA3,SA,3,VIIA,VIIA_3
21864,2021,2021-12-23,Adj Close,VIIA3.SA,4.500000e+00,December/21,Thursday,VIIA3.SA,VIIA3,SA,3,VIIA,VIIA_3
21774,2021,2021-12-22,Adj Close,VIIA3.SA,4.500000e+00,December/21,Wednesday,VIIA3.SA,VIIA3,SA,3,VIIA,VIIA_3

In [332]:
# Tabela din√¢mica para saber a m√©dia de cada Par√¢metro entre Ativo_trad

modelo_dados.pivot_table(values='Valor', index='Ativo_trad', columns ='Parametro',aggfunc=np.mean)

Parametro,Adj Close,Close,High,Low,Open,Volume
Ativo_trad,,,,,,
ABEV3,15.740081,16.337206,16.569312,16.131377,16.331700,2.432477e+07
B3SA3,14.977895,15.918259,16.193887,15.680283,15.951012,4.296212e+07
BBAS3,29.595182,31.395830,31.885466,31.026073,31.481538,1.595578e+07
BBDC4,22.294089,22.992955,23.348664,22.681700,23.031579,4.359404e+07
CSNA3,35.042186,36.126802,36.951538,35.423522,36.245142,1.349535e+07
GGBR4,26.193441,28.731174,29.292591,28.247085,28.778178,1.475120e+07
ITUB4,27.060364,27.678907,28.119393,27.312672,27.713036,3.739315e+07
JBSS3,29.079271,31.359028,31.847692,30.877854,31.335587,1.278032e+07
MGLU3,18.541174,18.549555,18.977530,18.205668,18.629717,4.536056e+07
PETR3,23.646680,27.313401,27.738988,26.891134,27.301660,2.162120e+07
PETR4,23.150486,26.861943,27.287449,26.450567,26.882146,7.913302e+07
PRIO3,19.561619,19.561619,20.087368,19.089838,19.605101,2.233764e+07
SUZB3,60.500972,61.223077,62.330202,60.294939,61.351579,7.709065e+06
VALE3,83.823522,95.587004,96.901134,94.366923,95.726113,2.734545e+07
VIIA3,11.185304,11.185304,11.468583,10.973644,11.238785,4.171831e+07

In [335]:
# Tabela din√¢mica para saber a contagem de valores de cada ativo (sem estabelecer uma matriz 2D)

modelo_dados.pivot_table(values='Valor', index='Ativo_trad', columns = [],aggfunc='count')

            Valor
Ativo_trad
ABEV3        1482
B3SA3        1482
BBAS3        1482
BBDC4        1482
CSNA3        1482
GGBR4        1482
ITUB4        1482
JBSS3        1482
MGLU3        1482
PETR3        1482
PETR4        1482
PRIO3        1482
SUZB3        1482
VALE3        1482
VIIA3        1482

In [339]:
# Tabela din√¢mica para saber a m√©dia e os valores m√°ximos de valores de cada considerando apenas o volume dentro de par√¢metros
# Filtro pode vir antes

modelo_dados[modelo_dados['Parametro']=='Volume'].pivot_table(values='Valor', index='Ativo_trad', columns = [], aggfunc=[np.mean,np.max])

                    mean         amax
                   Valor        Valor
Ativo_trad
ABEV3       2.432477e+07   91395500.0
B3SA3       4.296212e+07  133297700.0
BBAS3       1.595578e+07  102036100.0
BBDC4       4.359404e+07  107391400.0
CSNA3       1.349535e+07   30320600.0
GGBR4       1.475120e+07   35435300.0
ITUB4       3.739315e+07  111622600.0
JBSS3       1.278032e+07   94175000.0
MGLU3       4.536056e+07  257831300.0
PETR3       2.162120e+07  135100700.0
PETR4       7.913302e+07  490230400.0
PRIO3       2.233764e+07   59799000.0
SUZB3       7.709065e+06   35970400.0
VALE3       2.734545e+07   77316900.0
VIIA3       4.171831e+07  169410000.0

In [344]:
# Outras forma de tabela din√¢mica usando o group by

modelo_dados.groupby(['Ativo_trad','Parametro']).mean()

                         Ano         Valor  ON_PN_UNIT
Ativo_trad Parametro
ABEV3      Adj Close  2021.0  1.574008e+01         3.0
           Close      2021.0  1.633721e+01         3.0
           High       2021.0  1.656931e+01         3.0
           Low        2021.0  1.613138e+01         3.0
           Open       2021.0  1.633170e+01         3.0
...                      ...           ...         ...
VIIA3      Close      2021.0  1.118530e+01         3.0
           High       2021.0  1.146858e+01         3.0
           Low        2021.0  1.097364e+01         3.0
           Open       2021.0  1.123879e+01         3.0
           Volume     2021.0  4.171831e+07         3.0

[90 rows x 3 columns]

In [379]:
# Group by aplicado apenas para a coluna "Valor"

modelo_dados.groupby(['Ativo_trad','Parametro']).max().Valor

Ativo_trad  Parametro
ABEV3       Adj Close    1.886000e+01
            Close        1.960000e+01
            High         1.986000e+01
            Low          1.937000e+01
            Open         1.959000e+01
                             ...
VIIA3       Close        1.622000e+01
            High         1.677000e+01
            Low          1.596000e+01
            Open         1.649000e+01
            Volume       1.694100e+08
Name: Valor, Length: 90, dtype: float64

In [376]:
# Criar um novo dataframe com os pre√ßos OHLC dos ativos
# Ao mesmo tempo vamos alterar a ordem de algumas colunas

cotacoes_OHLC = modelo_dados2[['Data','Ativo_trad','Parametro','Valor']]
cotacoes_OHLC

            Data Ativo_trad  Parametro         Valor
0     2021-02-22      PETR4     Volume  4.902304e+08
1     2021-02-23      PETR4     Volume  2.935031e+08
2     2021-08-05      PETR4     Volume  2.239159e+08
3     2021-02-19      PETR4     Volume  2.158348e+08
4     2021-04-19      PETR4     Volume  1.965191e+08
...          ...        ...        ...           ...
22225 2021-12-17      VIIA3  Adj Close  4.850000e+00
22226 2021-12-20      VIIA3  Adj Close  4.740000e+00
22227 2021-12-21      VIIA3  Adj Close  4.610000e+00
22228 2021-12-23      VIIA3  Adj Close  4.500000e+00
22229 2021-12-22      VIIA3  Adj Close  4.500000e+00

[22230 rows x 4 columns]

In [378]:
# Usando tabela din√¢micas tamb√©m podemos criar um novo dataframe na estrutura conhecida como wide (largo, mts colunas e menos linhas)
# Note que o cabe√ßalho de colunas agora possui dois indices (multiindex)
 
cotacoes_OHLC2 = cotacoes_OHLC.pivot(index='Data', columns=['Parametro','Ativo_trad'], values='Valor')
cotacoes_OHLC2

Parametro       Volume                                       Open         \
Ativo_trad       PETR4       ITUB4       BBDC4       GGBR4  GGBR4  ITUB4
Data
2021-01-04  74719700.0  31347800.0  43814870.0  22156100.0  24.80  31.98
2021-01-05  95181100.0  28249800.0  42824980.0  17564800.0  25.97  30.73
2021-01-06  96562500.0  43061900.0  66652190.0  26790200.0  26.77  30.98
2021-01-07  56171300.0  46129800.0  51405090.0  20996500.0  28.31  31.65
2021-01-08  67136300.0  52532500.0  55328570.0  18035200.0  29.83  32.93
...                ...         ...         ...         ...    ...    ...
2021-12-23  28713600.0  22377000.0  27242900.0   8624800.0  27.55  21.33
2021-12-27  44227900.0  14025800.0  20189100.0   6350700.0  26.79  21.48
2021-12-28  30688100.0  15294200.0  17516200.0   6926700.0  27.05  21.63
2021-12-29  35508400.0  12856100.0  13687800.0   3391000.0  27.13  21.53
2021-12-30  43229100.0  39997300.0  32815500.0   5757000.0  27.36  21.44

Parametro                   Low         ... Adj Close                       \
Ativo_trad  PETR4  BBDC4  GGBR4  ITUB4  ...     SUZB3  CSNA3  JBSS3  BBAS3
Data                                    ...
2021-01-04  28.65  25.03  24.80  30.84  ...     58.22  32.54  20.80  34.22
2021-01-05  28.90  23.82  25.73  30.17  ...     57.95  33.13  21.10  33.86
2021-01-06  30.16  23.90  26.67  30.79  ...     56.89  34.53  20.91  34.64
2021-01-07  30.34  24.70  28.25  31.50  ...     61.75  36.69  21.17  36.01
2021-01-08  31.46  25.51  28.44  32.43  ...     62.04  36.91  21.68  36.22
...           ...    ...    ...    ...  ...       ...    ...    ...    ...
2021-12-23  28.33  19.25  26.79  21.17  ...     59.48  24.45  37.72  28.66
2021-12-27  28.32  19.38  26.73  21.31  ...     59.63  24.72  37.47  28.72
2021-12-28  29.01  19.51  26.81  21.40  ...     58.96  24.75  37.89  28.55
2021-12-29  28.70  19.45  26.97  21.23  ...     58.34  24.84  38.05  28.40
2021-12-30  28.55  19.39  27.17  20.95  ...     59.40  24.79  37.95  28.29

Parametro
Ativo_trad  PETR3  PRIO3  MGLU3  B3SA3  ABEV3  VIIA3
Data
2021-01-04  24.08  14.96  25.18  18.78  14.83  16.17
2021-01-05  24.81  14.76  24.74  18.82  15.14  16.22
2021-01-06  25.10  14.59  23.44  18.51  15.45  15.49
2021-01-07  25.83  14.81  23.14  19.02  15.37  15.08
2021-01-08  25.78  14.89  23.82  19.31  15.83  15.53
...           ...    ...    ...    ...    ...    ...
2021-12-23  30.44  19.70   6.20  11.09  15.55   4.50
2021-12-27  31.04  20.66   6.78  11.02  15.53   4.86
2021-12-28  31.06  20.05   6.83  10.88  15.52   4.95
2021-12-29  30.95  20.05   6.76  10.80  15.45   5.02
2021-12-30  30.70  20.67   7.22  10.86  15.42   5.25

[247 rows x 90 columns]

In [380]:
# Podemos fazer o caminho inverso (wide to long) usando a fun√ß√£o merge

cotacoes_OHLC3 = pd.melt(cotacoes_OHLC2,ignore_index=False)
cotacoes_OHLC3

            Parametro Ativo_trad        value
Data
2021-01-04     Volume      PETR4  74719700.00
2021-01-05     Volume      PETR4  95181100.00
2021-01-06     Volume      PETR4  96562500.00
2021-01-07     Volume      PETR4  56171300.00
2021-01-08     Volume      PETR4  67136300.00
...               ...        ...          ...
2021-12-23  Adj Close      VIIA3         4.50
2021-12-27  Adj Close      VIIA3         4.86
2021-12-28  Adj Close      VIIA3         4.95
2021-12-29  Adj Close      VIIA3         5.02
2021-12-30  Adj Close      VIIA3         5.25

[22230 rows x 3 columns]

In [381]:
# Fun√ß√£o melt tamb√©m permite executar a fun√ß√£o PROCV (VLOOKUP)
# Primeiro vamos criar um novo dataframe a partir de um dicionario

df_tipo_acoes = pd.DataFrame.from_dict({'Ind_Ativo': [1,3,4], 'Tipo_acao': ['unit','ordinaria','preferencial']})
df_tipo_acoes

   Ind_Ativo     Tipo_acao
0          1          unit
1          3     ordinaria
2          4  preferencial

In [383]:
# Relembrando o dataframe

modelo_dados.head()

,Ano,Data,Parametro,Ativo,Valor,Mes_Ano,Dia_semana,Ativo2,Ativo_trad,Restante_SA,ON_PN_UNIT,So_letras,Concatenados
2945,2021,2021-02-22,Volume,PETR4.SA,490230400.0,February/21,Segunda-feira,PETR4.SA,PETR4,SA,4,PETR,PETR_4
3035,2021,2021-02-23,Volume,PETR4.SA,293503100.0,February/21,Tuesday,PETR4.SA,PETR4,SA,4,PETR,PETR_4
20933,2021,2021-12-09,Volume,MGLU3.SA,257831300.0,December/21,Thursday,MGLU3.SA,MGLU3,SA,3,MGLU,MGLU_3
20843,2021,2021-12-08,Volume,MGLU3.SA,255628900.0,December/21,Wednesday,MGLU3.SA,MGLU3,SA,3,MGLU,MGLU_3
21113,2021,2021-12-13,Volume,MGLU3.SA,255551000.0,December/21,Segunda-feira,MGLU3.SA,MGLU3,SA,3,MGLU,MGLU_3

In [402]:
# Para realizar um PROCV (VLOOKUP) os dataframes precisam ter uma coluna em comum

df_tipo_acoes = df_tipo_acoes.rename({'Ind_Ativo' : 'ON_PN_UNIT'},axis=1)
modelo_dados2 = modelo_dados.merge(df_tipo_acoes, on = 'ON_PN_UNIT')
modelo_dados2

,Ano,Data,Parametro,Ativo,Valor,Mes_Ano,Dia_semana,Ativo2,Ativo_trad,Restante_SA,ON_PN_UNIT,So_letras,Concatenados,Tipo_acao
0,2021,2021-02-22,Volume,PETR4.SA,4.902304e+08,February/21,Segunda-feira,PETR4.SA,PETR4,SA,4,PETR,PETR_4,preferencial
1,2021,2021-02-23,Volume,PETR4.SA,2.935031e+08,February/21,Tuesday,PETR4.SA,PETR4,SA,4,PETR,PETR_4,preferencial
2,2021,2021-08-05,Volume,PETR4.SA,2.239159e+08,August/21,Thursday,PETR4.SA,PETR4,SA,4,PETR,PETR_4,preferencial
3,2021,2021-02-19,Volume,PETR4.SA,2.158348e+08,February/21,Friday,PETR4.SA,PETR4,SA,4,PETR,PETR_4,preferencial
4,2021,2021-04-19,Volume,PETR4.SA,1.965191e+08,April/21,Segunda-feira,PETR4.SA,PETR4,SA,4,PETR,PETR_4,preferencial
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22225,2021,2021-12-17,Adj Close,VIIA3.SA,4.850000e+00,December/21,Friday,VIIA3.SA,VIIA3,SA,3,VIIA,VIIA_3,ordinaria
22226,2021,2021-12-20,Adj Close,VIIA3.SA,4.740000e+00,December/21,Segunda-feira,VIIA3.SA,VIIA3,SA,3,VIIA,VIIA_3,ordinaria
22227,2021,2021-12-21,Adj Close,VIIA3.SA,4.610000e+00,December/21,Tuesday,VIIA3.SA,VIIA3,SA,3,VIIA,VIIA_3,ordinaria
22228,2021,2021-12-23,Adj Close,VIIA3.SA,4.500000e+00,December/21,Thursday,VIIA3.SA,VIIA3,SA,3,VIIA,VIIA_3,ordinaria
22229,2021,2021-12-22,Adj Close,VIIA3.SA,4.500000e+00,December/21,Wednesday,VIIA3.SA,VIIA3,SA,3,VIIA,VIIA_3,ordinaria

In [419]:
# Agora vamos filtrar apenas "Open"
# Depois classificar por data
# Por fim, remover duplicatas baseado nas colunas "Ativo_trad" e "Mes_ano

modelo_dados3 = modelo_dados[modelo_dados['Parametro']=='Open']
modelo_dados3 = modelo_dados3.sort_values(by=["Data","Ativo"],ascending=True)
modelo_dados3 = modelo_dados3.drop_duplicates(subset=['Ativo_trad','Mes_Ano'], keep='first')
modelo_dados3

,Ano,Data,Parametro,Ativo,Valor,Mes_Ano,Dia_semana,Ativo2,Ativo_trad,Restante_SA,ON_PN_UNIT,So_letras,Concatenados
4,2021,2021-01-04,Open,ABEV3.SA,15.79,January/21,Segunda-feira,ABEV3.SA,ABEV3,SA,3,ABEV,ABEV_3
10,2021,2021-01-04,Open,B3SA3.SA,20.71,January/21,Segunda-feira,B3SA3.SA,B3SA3,SA,3,B3SA,B3SA_3
16,2021,2021-01-04,Open,BBAS3.SA,39.23,January/21,Segunda-feira,BBAS3.SA,BBAS3,SA,3,BBAS,BBAS_3
22,2021,2021-01-04,Open,BBDC4.SA,25.03,January/21,Segunda-feira,BBDC4.SA,BBDC4,SA,4,BBDC,BBDC_4
28,2021,2021-01-04,Open,CSNA3.SA,32.80,January/21,Segunda-feira,CSNA3.SA,CSNA3,SA,3,CSNA,CSNA_3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
20404,2021,2021-12-01,Open,PETR4.SA,29.84,December/21,Wednesday,PETR4.SA,PETR4,SA,4,PETR,PETR_4
20410,2021,2021-12-01,Open,PRIO3.SA,20.85,December/21,Wednesday,PRIO3.SA,PRIO3,SA,3,PRIO,PRIO_3
20416,2021,2021-12-01,Open,SUZB3.SA,56.89,December/21,Wednesday,SUZB3.SA,SUZB3,SA,3,SUZB,SUZB_3
20422,2021,2021-12-01,Open,VALE3.SA,71.30,December/21,Wednesday,VALE3.SA,VALE3,SA,3,VALE,VALE_3
20428,2021,2021-12-01,Open,VIIA3.SA,5.81,December/21,Wednesday,VIIA3.SA,VIIA3,SA,3,VIIA,VIIA_3

In [420]:
# Agora vamos filtrar apenas "Close" e classificar novamente
# Dessa vez, remover duplicatas baseado nas colunas "Ativo_trad" e "Mes_ano mas usando o parametro keep="last"

modelo_dados4 = modelo_dados[modelo_dados['Parametro']=='Close']
modelo_dados4 = modelo_dados4.sort_values(by=["Data","Ativo"],ascending=True)
modelo_dados4 = modelo_dados4.drop_duplicates(subset=['Ativo_trad','Mes_Ano'], keep='last')
modelo_dados4

,Ano,Data,Parametro,Ativo,Valor,Mes_Ano,Dia_semana,Ativo2,Ativo_trad,Restante_SA,ON_PN_UNIT,So_letras,Concatenados
1621,2021,2021-01-29,Close,ABEV3.SA,15.11,January/21,Friday,ABEV3.SA,ABEV3,SA,3,ABEV,ABEV_3
1627,2021,2021-01-29,Close,B3SA3.SA,19.93,January/21,Friday,B3SA3.SA,B3SA3,SA,3,B3SA,B3SA_3
1633,2021,2021-01-29,Close,BBAS3.SA,33.86,January/21,Friday,BBAS3.SA,BBAS3,SA,3,BBAS,BBAS_3
1639,2021,2021-01-29,Close,BBDC4.SA,22.49,January/21,Friday,BBDC4.SA,BBDC4,SA,4,BBDC,BBDC_4
1645,2021,2021-01-29,Close,CSNA3.SA,30.40,January/21,Friday,CSNA3.SA,CSNA3,SA,3,CSNA,CSNA_3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
22201,2021,2021-12-30,Close,PETR4.SA,28.45,December/21,Thursday,PETR4.SA,PETR4,SA,4,PETR,PETR_4
22207,2021,2021-12-30,Close,PRIO3.SA,20.67,December/21,Thursday,PRIO3.SA,PRIO3,SA,3,PRIO,PRIO_3
22213,2021,2021-12-30,Close,SUZB3.SA,60.11,December/21,Thursday,SUZB3.SA,SUZB3,SA,3,SUZB,SUZB_3
22219,2021,2021-12-30,Close,VALE3.SA,77.96,December/21,Thursday,VALE3.SA,VALE3,SA,3,VALE,VALE_3
22225,2021,2021-12-30,Close,VIIA3.SA,5.25,December/21,Thursday,VIIA3.SA,VIIA3,SA,3,VIIA,VIIA_3

In [421]:
# Observado o √≠ndice de linhas dos dois dataframes criados, vemos que os n√∫meros nao fazem mais sentido
# Vamos resetar ambos √≠ndices

modelo_dados3 = pd.DataFrame.reset_index(modelo_dados3)
modelo_dados4 = pd.DataFrame.reset_index(modelo_dados4)
modelo_dados4

,index,Ano,Data,Parametro,Ativo,Valor,Mes_Ano,Dia_semana,Ativo2,Ativo_trad,Restante_SA,ON_PN_UNIT,So_letras,Concatenados
0,1621,2021,2021-01-29,Close,ABEV3.SA,15.11,January/21,Friday,ABEV3.SA,ABEV3,SA,3,ABEV,ABEV_3
1,1627,2021,2021-01-29,Close,B3SA3.SA,19.93,January/21,Friday,B3SA3.SA,B3SA3,SA,3,B3SA,B3SA_3
2,1633,2021,2021-01-29,Close,BBAS3.SA,33.86,January/21,Friday,BBAS3.SA,BBAS3,SA,3,BBAS,BBAS_3
3,1639,2021,2021-01-29,Close,BBDC4.SA,22.49,January/21,Friday,BBDC4.SA,BBDC4,SA,4,BBDC,BBDC_4
4,1645,2021,2021-01-29,Close,CSNA3.SA,30.40,January/21,Friday,CSNA3.SA,CSNA3,SA,3,CSNA,CSNA_3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
175,22201,2021,2021-12-30,Close,PETR4.SA,28.45,December/21,Thursday,PETR4.SA,PETR4,SA,4,PETR,PETR_4
176,22207,2021,2021-12-30,Close,PRIO3.SA,20.67,December/21,Thursday,PRIO3.SA,PRIO3,SA,3,PRIO,PRIO_3
177,22213,2021,2021-12-30,Close,SUZB3.SA,60.11,December/21,Thursday,SUZB3.SA,SUZB3,SA,3,SUZB,SUZB_3
178,22219,2021,2021-12-30,Close,VALE3.SA,77.96,December/21,Thursday,VALE3.SA,VALE3,SA,3,VALE,VALE_3
179,22225,2021,2021-12-30,Close,VIIA3.SA,5.25,December/21,Thursday,VIIA3.SA,VIIA3,SA,3,VIIA,VIIA_3

In [429]:
# Vamos renomear as colunas

modelo_dados3 = modelo_dados3.rename({'Ativo':'Ativo_open','Mes_Ano':'Mes_Ano_open','Valor':'Valor_open'},axis=1)
modelo_dados4 = modelo_dados4.rename({'Ativo':'Ativo_close','Mes_Ano':'Mes_Ano_close','Valor':'Valor_close'},axis=1)

In [430]:
# Resumindo, temos dois dataframes: 1 -primeiros valores de Abertura de cada ativo em cada m√™s; 2 - √∫ltimos valores de Fechamento de cada ativo em cada m√™s
# Podemos calcular o resultado mensal (%) de cada um
# Primeiro concatenamos os dois dataframes. Axis = 0 (um df abaixo do outro). Axis = 1 (um ao lado do outro)

modelo_dados_resultado = pd.concat([modelo_dados3[['Ativo_open','Mes_Ano_open','Valor_open']],modelo_dados4[['Ativo_close','Mes_Ano_close','Valor_close']]],axis=1)
modelo_dados_resultado

    Ativo_open Mes_Ano_open  Valor_open Ativo_close Mes_Ano_close  Valor_close
0     ABEV3.SA   January/21       15.79    ABEV3.SA    January/21        15.11
1     B3SA3.SA   January/21       20.71    B3SA3.SA    January/21        19.93
2     BBAS3.SA   January/21       39.23    BBAS3.SA    January/21        33.86
3     BBDC4.SA   January/21       25.03    BBDC4.SA    January/21        22.49
4     CSNA3.SA   January/21       32.80    CSNA3.SA    January/21        30.40
..         ...          ...         ...         ...           ...          ...
175   PETR4.SA  December/21       29.84    PETR4.SA   December/21        28.45
176   PRIO3.SA  December/21       20.85    PRIO3.SA   December/21        20.67
177   SUZB3.SA  December/21       56.89    SUZB3.SA   December/21        60.11
178   VALE3.SA  December/21       71.30    VALE3.SA   December/21        77.96
179   VIIA3.SA  December/21        5.81    VIIA3.SA   December/21         5.25

[180 rows x 6 columns]

In [431]:
# Antes de prosseguir, podemos usar a fun√ß√£o de verifica√ß√£o do excel que compara duas colunas e retorna Verdadeiro ou Falso

modelo_dados_resultado["Coluna_check"] = modelo_dados_resultado['Mes_Ano_open'] == modelo_dados_resultado['Mes_Ano_close']
modelo_dados_resultado

,Ativo_open,Mes_Ano_open,Valor_open,Ativo_close,Mes_Ano_close,Valor_close,Coluna_check
0,ABEV3.SA,January/21,15.79,ABEV3.SA,January/21,15.11,True
1,B3SA3.SA,January/21,20.71,B3SA3.SA,January/21,19.93,True
2,BBAS3.SA,January/21,39.23,BBAS3.SA,January/21,33.86,True
3,BBDC4.SA,January/21,25.03,BBDC4.SA,January/21,22.49,True
4,CSNA3.SA,January/21,32.80,CSNA3.SA,January/21,30.40,True
...,...,...,...,...,...,...,...
175,PETR4.SA,December/21,29.84,PETR4.SA,December/21,28.45,True
176,PRIO3.SA,December/21,20.85,PRIO3.SA,December/21,20.67,True
177,SUZB3.SA,December/21,56.89,SUZB3.SA,December/21,60.11,True
178,VALE3.SA,December/21,71.30,VALE3.SA,December/21,77.96,True
179,VIIA3.SA,December/21,5.81,VIIA3.SA,December/21,5.25,True

In [432]:
# FIltro se existe algum 'False'

modelo_dados_resultado[modelo_dados_resultado['Coluna_check']==False]

Empty DataFrame
Columns: [Ativo_open, Mes_Ano_open, Valor_open, Ativo_close, Mes_Ano_close, Valor_close, Coluna_check]
Index: []

In [433]:
# Calcular o resultado mensal (%)

modelo_dados_resultado["Result_%"] = (modelo_dados_resultado["Valor_close"] - modelo_dados_resultado["Valor_open"]) / modelo_dados_resultado["Valor_open"] *100
modelo_dados_resultado

,Ativo_open,Mes_Ano_open,Valor_open,Ativo_close,Mes_Ano_close,Valor_close,Coluna_check,Result_%
0,ABEV3.SA,January/21,15.79,ABEV3.SA,January/21,15.11,True,-4.306523
1,B3SA3.SA,January/21,20.71,B3SA3.SA,January/21,19.93,True,-3.766296
2,BBAS3.SA,January/21,39.23,BBAS3.SA,January/21,33.86,True,-13.688504
3,BBDC4.SA,January/21,25.03,BBDC4.SA,January/21,22.49,True,-10.147823
4,CSNA3.SA,January/21,32.80,CSNA3.SA,January/21,30.40,True,-7.317073
...,...,...,...,...,...,...,...,...
175,PETR4.SA,December/21,29.84,PETR4.SA,December/21,28.45,True,-4.658177
176,PRIO3.SA,December/21,20.85,PRIO3.SA,December/21,20.67,True,-0.863309
177,SUZB3.SA,December/21,56.89,SUZB3.SA,December/21,60.11,True,5.660046
178,VALE3.SA,December/21,71.30,VALE3.SA,December/21,77.96,True,9.340813
179,VIIA3.SA,December/21,5.81,VIIA3.SA,December/21,5.25,True,-9.638554

## **6. Vis√£o geral de algumas fun√ß√µes ($f$x) do Excel**

Explora√ß√£o geral de dados

In [ ]:
4. TRIM
This brilliant function will remove all spaces from a cell except the single spaces between words.

In [ ]:
.value_counts()
data.describe()
data['Embarked'].unique()
ata['Embarked'].nunique()

In [ ]:
9. VALUE  as numeric

In [ ]:
1
def percentage_marks(x):
2
return x/2
3
df['Marks'].apply(percentage_marks)

In [ ]:
gender = {'male':1, 'female':0}

	data['Sex'].map(gender).head()

In [ ]:
1
data['Age'].fillna(value=data['Age'].median(),inplace=True)
2
data['Age'].isnull().sum()

In [ ]:
1
ifdata[col].isnull().sum()&amp;amp;gt;0:

total_null=data[col].isnull().sum() print('Column{}hastotalnull{},i.e.{}%'.format(col,total_null,round(total_null*100/len(data),2)))

### 6.1. Fun√ß√µes aritm√©ticas b√°sicas

**Opera√ß√µes matem√°ticas diversas (SOMA, M√âDIA, MEDIANA, M√ÅXIMO, M√çNIMO, PERCENTIS,...)**

In [ ]:
data['Revenue'].sum()

### 6.2. Fun√ß√µes aritm√©ticas e condicionais

In [ ]:
sales["Sales Q1"] = q1_columns.sum(axis=1)
sales

https://pbpython.com/excel-pandas-comp.html

In [ ]:
def money(x):
    return "${:,.0f}".format(x)

formatted_df = df_sub.applymap(money)
formatted_df

In [ ]:
sum_row=df_sub[["Jan","Feb","Mar","total"]].sum()
sum_row

In [ ]:
df_sub_sum=pd.DataFrame(data=sum_row).T
df_sub_sum=df_sub_sum.applymap(money)
df_sub_sum

In [ ]:
final_table = formatted_df.append(df_sub_sum)
final_table

In [ ]:
final_table = final_table.rename(index={0:"Total"})
final_table

In [ ]:
4. SUBTOTAL No excel??  ‚Äú=SUBTOTAL(1, A2: A4),

In [ ]:
6. POWER  Potencia

In [ ]:
MOD() MoDULUS
MODULUS   =  % 

The MOD() function works on returning the remainder when a particular number is divided by a divisor. Let‚Äôs now have a look at the examples below for better understanding.

In the first example, we have divided 10 by 3. The remainder is calculated using the function ‚Äú=MOD(A2,3)‚Äù. The result is stored in B2. We can also directly type ‚Äú=MOD(10,3)‚Äù as it will give the same answer.

In [ ]:
7. CEILING
Next, we have the ceiling function. The CEILING() function rounds a number up to its nearest multiple of significance. 

he nearest highest multiple of 5 for 35.316 is 40.

In [ ]:
8. FLOOR
Contrary to the Ceiling function, the floor function rounds a number down to the nearest multiple of significance.
The nearest lowest multiple of 5 for 35.316 is 35.

In [ ]:
df_final['abbrev'] = df_final.apply(convert_state, axis=1)
df_final.tail()

In [ ]:
SOMA TODA LINHA E TODA COLUNA

In [ ]:
15. NOW()

In [ ]:
19. DATEDIF

In [ ]:
The function LEN() returns the total number of characters in a string. So, it will count the overall characters, including spaces and special characters. Given below is an e  REPLACE() ja abordamos

In [ ]:
sales["Current Employee"] = pd.isnull(sales['End Date'])
sales

**Fun√ß√£o SE (IF)**

In [ ]:
Airport_Pets_csv['New_Column'] = IF(Airport_Pets_csv['Division'] == "Central", 1, 0)

In [ ]:
numpy.where(data['Revenue']>400,1,0)

**Fun√ß√µes matem√°ticas condicionais (SOMASE, CONT.SE, M√âDIASE, ...)**

In [ ]:
data[data['Location']=="Newyork"].groupby('Group').sum()

### 6.3. Fun√ß√µes aritm√©ticas mais complexas

**Fun√ß√µes SOMARPRODUTO (SUMPRODUCT)**

In [ ]:
sum(data['Revenue']*data['Expense'])

In [ ]:
data['Revenue']+data['Expense']

## **7. Visualiza√ß√£o gr√°fica**

A visualiza√ß√£o gr√°fica do Python √© incompar√°vel ao Excel. Multiplas bibliotecas permitem figuras e gr√°ficos desde bem simples at√© graficos din√¢micos multidimensionais com configura√ß√µes pixel a pixel.<p>
Aqui traremos apenas um vis√£o r√°pida desse potencial ilimitado

Excel is best when doing small and one-time analyses or creating basic visualizations quickly. It is easy to become an intermediate user relatively without too much experience due to its GUI.
Python is harder to learn because you have to download many packages and set the correct development environment on your computer. However, it provides a big leg up when working with big data and creating repeatable, automatable analyses, and in-depth visualizations.<p>

1. Ease of Use: winner Excel
2. Scalability & Big Data: winner Python
3. Automation Capabilities: winner Python
4. Data Connectivity: winner Python

https://www.nobledesktop.com/learn/python/python-vs-excel

## **8. Extras:**

### 8.1. *RealPython* - Biblioteca para ajudar a acessar Excel no Python
https://realpython.com/openpyxl-excel-spreadsheets-python/

In [ ]:
>>> from openpyxl import load_workbook
>>> workbook = load_workbook(filename="sample.xlsx")
>>> workbook.sheetnames
['Sheet 1']

>>> sheet = workbook.active
>>> sheet
<Worksheet "Sheet 1">

>>> sheet.title
'Sheet 1'

>>> sheet["A1"]
<Cell 'Sheet 1'.A1>

>>> sheet["A1"].value
'marketplace'

>>> sheet["F10"].value
"G-Shock Men's Grey Sport Watch"

>>> sheet.cell(row=10, column=6)
<Cell 'Sheet 1'.F10>

>>> sheet.cell(row=10, column=6).value
"G-Shock Men's Grey Sport Watch"

In [ ]:
https://www.pyxll.com/blog/tools-for-working-with-excel-and-python/

### 8.1. *mitosheet* - Biblioteca para simular o Excel no Python

https://towardsdatascience.com/how-to-write-excel-like-formulas-in-python-4bdacab75a53

In [470]:
!pip install mitosheet

Collecting mitosheet
  Downloading mitosheet-0.1.402-py2.py3-none-any.whl (1.5 MB)
     |‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 1.5 MB 3.7 MB/s
Requirement already satisfied: openpyxl in /usr/local/lib/python3.7/dist-packages (from mitosheet) (3.0.9)
Collecting jupyterlab-widgets~=1.0.0
  Downloading jupyterlab_widgets-1.0.2-py3-none-any.whl (243 kB)
     |‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 243 kB 57.2 MB/s
Collecting plotly==5.3.0
  Downloading plotly-5.3.0-py2.py3-none-any.whl (22.9 MB)
     |‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 22.9 MB 1.6 MB/s
Collecting jupyterlab~=3.0
  Downloading jupyterlab-3.3.3-py3-none-any.whl (8.7 MB)
     |‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 8.7 MB 36.4 MB/s
Requirement already satisfied: pandas>=0.24.2 in /usr/local/lib/python3.7/dist-packages (from mitosheet) (1.3.5)
Requirement already satisfied: chardet>=3.0.4 in /usr/local/lib/python3.7/dist-packages (from mitosheet) (3.0.4)
Requirement already satisfied: ipywidgets>=7.0.0 in /usr/local/lib/python3.7/dist-packages (from mitosheet) (7.7.0)
Collecting analytics-python
  Downloading analytics_python-1.4.0-py2.py3-none-any.whl (15 kB)
Collecting xlsxwriter<=3.0.2,>=0.6.9
  Downloading XlsxWriter-3.0.2-py3-none-any.whl (149 kB)
     |‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 149 kB 42.3 MB/s
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from plotly==5.3.0->mitosheet) (1.15.0)
Requirement already satisfied: tenacity>=6.2.0 in /usr/local/lib/python3.7/dist-packages (from plotly==5.3.0->mitosheet) (8.0.1)
Requirement already satisfied: traitlets>=4.3.1 in /usr/local/lib/python3.7/dist-packages (from ipywidgets>=7.0.0->mitosheet) (5.1.1)
Requirement already satisfied: widgetsnbextension~=3.6.0 in /usr/local/lib/python3.7/dist-packages (from ipywidgets>=7.0.0->mitosheet) (3.6.0)
Requirement already satisfied: ipython>=4.0.0 in /usr/local/lib/python3.7/dist-packages (from ipywidgets>=7.0.0->mitosheet) (5.5.0)
Requirement already satisfied: ipython-genutils~=0.2.0 in /usr/local/lib/python3.7/dist-packages (from ipywidgets>=7.0.0->mitosheet) (0.2.0)
Requirement already satisfied: nbformat>=4.2.0 in /usr/local/lib/python3.7/dist-packages (from ipywidgets>=7.0.0->mitosheet) (5.2.0)
Requirement already satisfied: ipykernel>=4.5.1 in /usr/local/lib/python3.7/dist-packages (from ipywidgets>=7.0.0->mitosheet) (4.10.1)
Requirement already satisfied: jupyter-client in /usr/local/lib/python3.7/dist-packages (from ipykernel>=4.5.1->ipywidgets>=7.0.0->mitosheet) (5.3.5)
Requirement already satisfied: tornado>=4.0 in /usr/local/lib/python3.7/dist-packages (from ipykernel>=4.5.1->ipywidgets>=7.0.0->mitosheet) (5.1.1)
Requirement already satisfied: pexpect in /usr/local/lib/python3.7/dist-packages (from ipython>=4.0.0->ipywidgets>=7.0.0->mitosheet) (4.8.0)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.7/dist-packages (from ipython>=4.0.0->ipywidgets>=7.0.0->mitosheet) (57.4.0)
Requirement already satisfied: simplegeneric>0.8 in /usr/local/lib/python3.7/dist-packages (from ipython>=4.0.0->ipywidgets>=7.0.0->mitosheet) (0.8.1)
Requirement already satisfied: prompt-toolkit<2.0.0,>=1.0.4 in /usr/local/lib/python3.7/dist-packages (from ipython>=4.0.0->ipywidgets>=7.0.0->mitosheet) (1.0.18)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.7/dist-packages (from ipython>=4.0.0->ipywidgets>=7.0.0->mitosheet) (0.7.5)
Requirement already satisfied: pygments in /usr/local/lib/python3.7/dist-packages (from ipython>=4.0.0->ipywidgets>=7.0.0->mitosheet) (2.6.1)
Requirement already satisfied: decorator in /usr/local/lib/python3.7/dist-packages (from ipython>=4.0.0->ipywidgets>=7.0.0->mitosheet) (4.4.2)
Collecting jupyter-server~=1.4
  Downloading jupyter_server-1.16.0-py3-none-any.whl (343 kB)
     |‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 343 kB 57.7 MB/s
Requirement already satisfied: jupyter-core in /usr/local/lib/python3.7/dist-packages (from jupyterlab~=3.0->mitosheet) (4.9.2)
Requirement already satisfied: jinja2>=2.1 in /usr/local/lib/python3.7/dist-packages (from jupyterlab~=3.0->mitosheet) (2.11.3)
Collecting tornado>=4.0
  Downloading tornado-6.1-cp37-cp37m-manylinux2010_x86_64.whl (428 kB)
     |‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 428 kB 48.3 MB/s
Requirement already satisfied: packaging in /usr/local/lib/python3.7/dist-packages (from jupyterlab~=3.0->mitosheet) (21.3)
Collecting jupyterlab-server~=2.10
  Downloading jupyterlab_server-2.12.0-py3-none-any.whl (53 kB)
     |‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 53 kB 1.6 MB/s
Collecting nbclassic~=0.2
  Downloading nbclassic-0.3.7-py3-none-any.whl (13 kB)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.7/dist-packages (from jinja2>=2.1->jupyterlab~=3.0->mitosheet) (2.0.1)
Requirement already satisfied: argon2-cffi in /usr/local/lib/python3.7/dist-packages (from jupyter-server~=1.4->jupyterlab~=3.0->mitosheet) (21.3.0)
Requirement already satisfied: terminado>=0.8.3 in /usr/local/lib/python3.7/dist-packages (from jupyter-server~=1.4->jupyterlab~=3.0->mitosheet) (0.13.3)
Requirement already satisfied: pyzmq>=17 in /usr/local/lib/python3.7/dist-packages (from jupyter-server~=1.4->jupyterlab~=3.0->mitosheet) (22.3.0)
Collecting anyio>=3.1.0
  Downloading anyio-3.5.0-py3-none-any.whl (79 kB)
     |‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 79 kB 5.2 MB/s
Collecting nbconvert>=6.4.4
  Downloading nbconvert-6.5.0-py3-none-any.whl (561 kB)
     |‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 561 kB 40.7 MB/s
Collecting websocket-client
  Downloading websocket_client-1.3.2-py3-none-any.whl (54 kB)
     |‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 54 kB 2.1 MB/s
Collecting jupyter-client
  Downloading jupyter_client-7.2.2-py3-none-any.whl (130 kB)
     |‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 130 kB 50.4 MB/s
Requirement already satisfied: Send2Trash in /usr/local/lib/python3.7/dist-packages (from jupyter-server~=1.4->jupyterlab~=3.0->mitosheet) (1.8.0)
Requirement already satisfied: prometheus-client in /usr/local/lib/python3.7/dist-packages (from jupyter-server~=1.4->jupyterlab~=3.0->mitosheet) (0.14.0)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from anyio>=3.1.0->jupyter-server~=1.4->jupyterlab~=3.0->mitosheet) (3.10.0.2)
Requirement already satisfied: idna>=2.8 in /usr/local/lib/python3.7/dist-packages (from anyio>=3.1.0->jupyter-server~=1.4->jupyterlab~=3.0->mitosheet) (2.10)
Collecting sniffio>=1.1
  Downloading sniffio-1.2.0-py3-none-any.whl (10 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.7/dist-packages (from jupyter-client->ipykernel>=4.5.1->ipywidgets>=7.0.0->mitosheet) (2.8.2)
Requirement already satisfied: entrypoints in /usr/local/lib/python3.7/dist-packages (from jupyter-client->ipykernel>=4.5.1->ipywidgets>=7.0.0->mitosheet) (0.4)
Requirement already satisfied: nest-asyncio>=1.5.4 in /usr/local/lib/python3.7/dist-packages (from jupyter-client->ipykernel>=4.5.1->ipywidgets>=7.0.0->mitosheet) (1.5.5)
Collecting json5
  Downloading json5-0.9.6-py2.py3-none-any.whl (18 kB)
Collecting jinja2>=2.1
  Downloading Jinja2-3.1.1-py3-none-any.whl (132 kB)
     |‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 132 kB 51.2 MB/s
Requirement already satisfied: jsonschema>=3.0.1 in /usr/local/lib/python3.7/dist-packages (from jupyterlab-server~=2.10->jupyterlab~=3.0->mitosheet) (4.3.3)
Requirement already satisfied: babel in /usr/local/lib/python3.7/dist-packages (from jupyterlab-server~=2.10->jupyterlab~=3.0->mitosheet) (2.9.1)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from jupyterlab-server~=2.10->jupyterlab~=3.0->mitosheet) (2.23.0)
Requirement already satisfied: attrs>=17.4.0 in /usr/local/lib/python3.7/dist-packages (from jsonschema>=3.0.1->jupyterlab-server~=2.10->jupyterlab~=3.0->mitosheet) (21.4.0)
Requirement already satisfied: pyrsistent!=0.17.0,!=0.17.1,!=0.17.2,>=0.14.0 in /usr/local/lib/python3.7/dist-packages (from jsonschema>=3.0.1->jupyterlab-server~=2.10->jupyterlab~=3.0->mitosheet) (0.18.1)
Requirement already satisfied: importlib-resources>=1.4.0 in /usr/local/lib/python3.7/dist-packages (from jsonschema>=3.0.1->jupyterlab-server~=2.10->jupyterlab~=3.0->mitosheet) (5.4.0)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.7/dist-packages (from jsonschema>=3.0.1->jupyterlab-server~=2.10->jupyterlab~=3.0->mitosheet) (4.11.3)
Requirement already satisfied: zipp>=3.1.0 in /usr/local/lib/python3.7/dist-packages (from importlib-resources>=1.4.0->jsonschema>=3.0.1->jupyterlab-server~=2.10->jupyterlab~=3.0->mitosheet) (3.7.0)
Requirement already satisfied: notebook<7 in /usr/local/lib/python3.7/dist-packages (from nbclassic~=0.2->jupyterlab~=3.0->mitosheet) (5.3.1)
Collecting notebook-shim>=0.1.0
  Downloading notebook_shim-0.1.0-py3-none-any.whl (13 kB)
Requirement already satisfied: jupyterlab-pygments in /usr/local/lib/python3.7/dist-packages (from nbconvert>=6.4.4->jupyter-server~=1.4->jupyterlab~=3.0->mitosheet) (0.2.0)
Requirement already satisfied: nbclient>=0.5.0 in /usr/local/lib/python3.7/dist-packages (from nbconvert>=6.4.4->jupyter-server~=1.4->jupyterlab~=3.0->mitosheet) (0.5.13)
Requirement already satisfied: pandocfilters>=1.4.1 in /usr/local/lib/python3.7/dist-packages (from nbconvert>=6.4.4->jupyter-server~=1.4->jupyterlab~=3.0->mitosheet) (1.5.0)
Requirement already satisfied: mistune<2,>=0.8.1 in /usr/local/lib/python3.7/dist-packages (from nbconvert>=6.4.4->jupyter-server~=1.4->jupyterlab~=3.0->mitosheet) (0.8.4)
Requirement already satisfied: bleach in /usr/local/lib/python3.7/dist-packages (from nbconvert>=6.4.4->jupyter-server~=1.4->jupyterlab~=3.0->mitosheet) (4.1.0)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.7/dist-packages (from nbconvert>=6.4.4->jupyter-server~=1.4->jupyterlab~=3.0->mitosheet) (4.6.3)
Collecting tinycss2
  Downloading tinycss2-1.1.1-py3-none-any.whl (21 kB)
Requirement already satisfied: defusedxml in /usr/local/lib/python3.7/dist-packages (from nbconvert>=6.4.4->jupyter-server~=1.4->jupyterlab~=3.0->mitosheet) (0.7.1)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.2->mitosheet) (1.21.5)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.2->mitosheet) (2018.9)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.7/dist-packages (from prompt-toolkit<2.0.0,>=1.0.4->ipython>=4.0.0->ipywidgets>=7.0.0->mitosheet) (0.2.5)
Requirement already satisfied: ptyprocess in /usr/local/lib/python3.7/dist-packages (from terminado>=0.8.3->jupyter-server~=1.4->jupyterlab~=3.0->mitosheet) (0.7.0)
Collecting backoff==1.10.0
  Downloading backoff-1.10.0-py2.py3-none-any.whl (31 kB)
Collecting monotonic>=1.5
  Downloading monotonic-1.6-py2.py3-none-any.whl (8.2 kB)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->jupyterlab-server~=2.10->jupyterlab~=3.0->mitosheet) (2021.10.8)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->jupyterlab-server~=2.10->jupyterlab~=3.0->mitosheet) (1.24.3)
Requirement already satisfied: argon2-cffi-bindings in /usr/local/lib/python3.7/dist-packages (from argon2-cffi->jupyter-server~=1.4->jupyterlab~=3.0->mitosheet) (21.2.0)
Requirement already satisfied: cffi>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from argon2-cffi-bindings->argon2-cffi->jupyter-server~=1.4->jupyterlab~=3.0->mitosheet) (1.15.0)
Requirement already satisfied: pycparser in /usr/local/lib/python3.7/dist-packages (from cffi>=1.0.1->argon2-cffi-bindings->argon2-cffi->jupyter-server~=1.4->jupyterlab~=3.0->mitosheet) (2.21)
Requirement already satisfied: webencodings in /usr/local/lib/python3.7/dist-packages (from bleach->nbconvert>=6.4.4->jupyter-server~=1.4->jupyterlab~=3.0->mitosheet) (0.5.1)
Requirement already satisfied: et-xmlfile in /usr/local/lib/python3.7/dist-packages (from openpyxl->mitosheet) (1.1.0)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging->jupyterlab~=3.0->mitosheet) (3.0.7)
Installing collected packages: tornado, jupyter-client, tinycss2, sniffio, jinja2, websocket-client, nbconvert, anyio, jupyter-server, notebook-shim, json5, nbclassic, monotonic, jupyterlab-widgets, jupyterlab-server, backoff, xlsxwriter, plotly, jupyterlab, analytics-python, mitosheet
  Attempting uninstall: tornado
    Found existing installation: tornado 5.1.1
    Uninstalling tornado-5.1.1:
      Successfully uninstalled tornado-5.1.1
  Attempting uninstall: jupyter-client
    Found existing installation: jupyter-client 5.3.5
    Uninstalling jupyter-client-5.3.5:
      Successfully uninstalled jupyter-client-5.3.5
  Attempting uninstall: jinja2
    Found existing installation: Jinja2 2.11.3
    Uninstalling Jinja2-2.11.3:
      Successfully uninstalled Jinja2-2.11.3
  Attempting uninstall: nbconvert
    Found existing installation: nbconvert 5.6.1
    Uninstalling nbconvert-5.6.1:
      Successfully uninstalled nbconvert-5.6.1
  Attempting uninstall: jupyterlab-widgets
    Found existing installation: jupyterlab-widgets 1.1.0
    Uninstalling jupyterlab-widgets-1.1.0:
      Successfully uninstalled jupyterlab-widgets-1.1.0
  Attempting uninstall: plotly
    Found existing installation: plotly 5.5.0
    Uninstalling plotly-5.5.0:
      Successfully uninstalled plotly-5.5.0
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
google-colab 1.0.0 requires tornado~=5.1.0; python_version >= "3.0", but you have tornado 6.1 which is incompatible.
flask 1.1.4 requires Jinja2<3.0,>=2.10.1, but you have jinja2 3.1.1 which is incompatible.
datascience 0.10.6 requires folium==0.2.1, but you have folium 0.8.3 which is incompatible.
Successfully installed analytics-python-1.4.0 anyio-3.5.0 backoff-1.10.0 jinja2-3.1.1 json5-0.9.6 jupyter-client-7.2.2 jupyter-server-1.16.0 jupyterlab-3.3.3 jupyterlab-server-2.12.0 jupyterlab-widgets-1.0.2 mitosheet-0.1.402 monotonic-1.6 nbclassic-0.3.7 nbconvert-6.5.0 notebook-shim-0.1.0 plotly-5.3.0 sniffio-1.2.0 tinycss2-1.1.1 tornado-6.1 websocket-client-1.3.2 xlsxwriter-3.0.2

In [ ]:
#  python -m pip install mitoinstaller
#  python -m mitoinstaller install

In [471]:
import mitosheet

AttributeError: ignored

In [ ]:
mitosheet.sheet(df))