<a href="https://colab.research.google.com/github/Trading-com-Dados/desenvolvimento_interno/blob/main/JPJ/GRUPO_DE_ESTUDOS_Campeonato_SmarttBot_Trading_com_Dados.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img src="https://tradingcomdados.com/images/logotipo/logotipo-trading-com-dados.svg" width="300">

---
# **GRUPO DE ESTUDOS - Campeonato SmarttBot / Trading com Dados**
---

# **1. Bibliotecas utilizadas**

In [5]:
# Vamos utilizar a backtrader e a quantstats para conferir nossos backtests à mão

!pip install yfinance
!pip install ta
!pip install backtrader
!pip install quantstats

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: yfinance in /usr/local/lib/python3.7/dist-packages (0.1.70)
Requirement already satisfied: requests>=2.26 in /usr/local/lib/python3.7/dist-packages (from yfinance) (2.27.1)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.10)
Requirement already satisfied: lxml>=4.5.1 in /usr/local/lib/python3.7/dist-packages (from yfinance) (4.8.0)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.21.6)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.3.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2022.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24.0->yfinance) (1.15.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (1.24.3)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.10)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.0.12)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2022.5.18.1)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: ta in /usr/local/lib/python3.7/dist-packages (0.10.1)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from ta) (1.21.6)
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from ta) (1.3.5)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas->ta) (2022.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas->ta) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas->ta) (1.15.0)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: backtrader in /usr/local/lib/python3.7/dist-packages (1.9.76.123)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: quantstats in /usr/local/lib/python3.7/dist-packages (0.0.56)
Requirement already satisfied: yfinance>=0.1.70 in /usr/local/lib/python3.7/dist-packages (from quantstats) (0.1.70)
Requirement already satisfied: matplotlib>=3.0.0 in /usr/local/lib/python3.7/dist-packages (from quantstats) (3.2.2)
Requirement already satisfied: numpy>=1.16.5 in /usr/local/lib/python3.7/dist-packages (from quantstats) (1.21.6)
Requirement already satisfied: scipy>=1.2.0 in /usr/local/lib/python3.7/dist-packages (from quantstats) (1.4.1)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.7/dist-packages (from quantstats) (1.3.5)
Requirement already satisfied: seaborn>=0.9.0 in /usr/local/lib/python3.7/dist-packages (from quantstats) (0.11.2)
Requirement already satisfied: tabulate>=0.8.0 in /usr/local/lib/python3.7/dist-packages (from quantstats) (0.8.9)
Requirement already satisfied: python-dateutil>=2.0 in /usr/local/lib/python3.7/dist-packages (from quantstats) (2.8.2)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.0.0->quantstats) (1.4.2)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.0.0->quantstats) (0.11.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.0.0->quantstats) (3.0.9)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from kiwisolver>=1.0.1->matplotlib>=3.0.0->quantstats) (4.2.0)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->quantstats) (2022.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.0->quantstats) (1.15.0)
Requirement already satisfied: lxml>=4.5.1 in /usr/local/lib/python3.7/dist-packages (from yfinance>=0.1.70->quantstats) (4.8.0)
Requirement already satisfied: requests>=2.26 in /usr/local/lib/python3.7/dist-packages (from yfinance>=0.1.70->quantstats) (2.27.1)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance>=0.1.70->quantstats) (0.0.10)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance>=0.1.70->quantstats) (2.10)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance>=0.1.70->quantstats) (2.0.12)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance>=0.1.70->quantstats) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance>=0.1.70->quantstats) (2022.5.18.1)

In [6]:
import numpy as np
import pandas as pd
from datetime import datetime
import pytz

import yfinance as yf
import ta
import backtrader as bt
import quantstats

import matplotlib
import matplotlib.pyplot as plt
import plotly.graph_objects as go
from plotly.subplots import make_subplots

# **2. Dados WIN e WDO**

In [7]:
WIN_1d = pd.read_excel('/content/WINFUT_1d_mt5.xlsx')
WDO_1d = pd.read_excel('/content/WINFUT_1d_mt5.xlsx')
WIN_1d

,time,open,high,low,close,tick_volume,spread,real_volume
0,2017-04-13,82929,83294,81597,81680,271684,1,948628
1,2017-04-17,82007,83928,81898,83928,246605,1,866786
2,2017-04-18,83217,84088,82846,83320,298660,1,992737
3,2017-04-19,83576,83935,82103,82270,298405,1,1052395
4,2017-04-20,82808,83365,82295,82782,296140,1,1063400
...,...,...,...,...,...,...,...,...
1240,2022-04-22,114500,114640,112240,112890,4512402,1,14064818
1241,2022-04-25,111335,112860,110825,112400,5275632,1,16888715
1242,2022-04-26,112085,112100,109210,109235,4518914,1,14773063
1243,2022-04-27,110505,111705,110390,111030,5554160,1,17083235
1244,2022-04-28,112105,112270,110325,110905,4786035,1,15095229

In [8]:
WIN_5m = pd.read_excel('/content/WINFUT_05m_mt5.xlsx')
WDO_5m = pd.read_excel('/content/WINFUT_05m_mt5.xlsx')
WIN_5m

,time,open,high,low,close,tick_volume,spread,real_volume
0,2017-04-13 09:00:00,82929,82929,82628,82724,2816,1,11648
1,2017-04-13 09:05:00,82718,82776,82686,82712,1792,1,6465
2,2017-04-13 09:10:00,82718,82744,82590,82622,2490,1,9210
3,2017-04-13 09:15:00,82622,82692,82577,82628,1851,1,7342
4,2017-04-13 09:20:00,82622,82680,82558,82571,1519,1,5339
...,...,...,...,...,...,...,...,...
134645,2022-04-27 17:30:00,110790,110870,110760,110810,18830,1,48271
134646,2022-04-27 17:35:00,110810,110880,110765,110825,12482,1,37160
134647,2022-04-27 17:40:00,110825,110855,110790,110855,9751,1,25816
134648,2022-04-27 17:45:00,110855,111005,110810,110980,14897,1,43067
134649,2022-04-27 17:50:00,110975,111045,110865,111030,8589,1,26599

# **3. Manual**

In [20]:
WIN_1d.index = WIN_1d['time']

In [21]:
WIN_1d.head()

,time,open,high,low,close,tick_volume,spread,real_volume,Max_ant,Min_ant,Entrada_max,Entrada_min
time,,,,,,,,,,,,
2017-04-13,2017-04-13,82929,83294,81597,81680,271684,1,948628,NaN,NaN,False,False
2017-04-17,2017-04-17,82007,83928,81898,83928,246605,1,866786,83294.0,81597.0,True,True
2017-04-18,2017-04-18,83217,84088,82846,83320,298660,1,992737,83928.0,81898.0,True,True
2017-04-19,2017-04-19,83576,83935,82103,82270,298405,1,1052395,84088.0,82846.0,False,False
2017-04-20,2017-04-20,82808,83365,82295,82782,296140,1,1063400,83935.0,82103.0,False,True

In [22]:
WIN_1d['Max_ant'] = WIN_1d['high'].shift(1)
WIN_1d['Min_ant'] = WIN_1d['low'].shift(1)
WIN_1d

,time,open,high,low,close,tick_volume,spread,real_volume,Max_ant,Min_ant,Entrada_max,Entrada_min
time,,,,,,,,,,,,
2017-04-13,2017-04-13,82929,83294,81597,81680,271684,1,948628,NaN,NaN,False,False
2017-04-17,2017-04-17,82007,83928,81898,83928,246605,1,866786,83294.0,81597.0,True,True
2017-04-18,2017-04-18,83217,84088,82846,83320,298660,1,992737,83928.0,81898.0,True,True
2017-04-19,2017-04-19,83576,83935,82103,82270,298405,1,1052395,84088.0,82846.0,False,False
2017-04-20,2017-04-20,82808,83365,82295,82782,296140,1,1063400,83935.0,82103.0,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...
2022-04-22,2022-04-22,114500,114640,112240,112890,4512402,1,14064818,117410.0,115715.0,False,False
2022-04-25,2022-04-25,111335,112860,110825,112400,5275632,1,16888715,114640.0,112240.0,False,False
2022-04-26,2022-04-26,112085,112100,109210,109235,4518914,1,14773063,112860.0,110825.0,False,False
2022-04-27,2022-04-27,110505,111705,110390,111030,5554160,1,17083235,112100.0,109210.0,False,True
2022-04-28,2022-04-28,112105,112270,110325,110905,4786035,1,15095229,111705.0,110390.0,True,False

In [23]:
WIN_1d['Entrada_max'] = WIN_1d['high'] > WIN_1d['Max_ant']
WIN_1d['Entrada_min'] = WIN_1d['low'] > WIN_1d['Min_ant']
WIN_1d

,time,open,high,low,close,tick_volume,spread,real_volume,Max_ant,Min_ant,Entrada_max,Entrada_min
time,,,,,,,,,,,,
2017-04-13,2017-04-13,82929,83294,81597,81680,271684,1,948628,NaN,NaN,False,False
2017-04-17,2017-04-17,82007,83928,81898,83928,246605,1,866786,83294.0,81597.0,True,True
2017-04-18,2017-04-18,83217,84088,82846,83320,298660,1,992737,83928.0,81898.0,True,True
2017-04-19,2017-04-19,83576,83935,82103,82270,298405,1,1052395,84088.0,82846.0,False,False
2017-04-20,2017-04-20,82808,83365,82295,82782,296140,1,1063400,83935.0,82103.0,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...
2022-04-22,2022-04-22,114500,114640,112240,112890,4512402,1,14064818,117410.0,115715.0,False,False
2022-04-25,2022-04-25,111335,112860,110825,112400,5275632,1,16888715,114640.0,112240.0,False,False
2022-04-26,2022-04-26,112085,112100,109210,109235,4518914,1,14773063,112860.0,110825.0,False,False
2022-04-27,2022-04-27,110505,111705,110390,111030,5554160,1,17083235,112100.0,109210.0,False,True
2022-04-28,2022-04-28,112105,112270,110325,110905,4786035,1,15095229,111705.0,110390.0,True,False

In [30]:
# Visualizar um range menor de datas para explorar o setup

data_figure = WIN_1d[(WIN_1d.index>='2017-04-13') & (WIN_1d.index<='2017-04-25')]

fig = go.Figure(go.Candlestick(name='WIN_1d', x=data_figure.index, open=data_figure['open'], high = data_figure['high'],
                               low=data_figure['low'], close=data_figure['close'],showlegend=False))

fig.update_layout(title='', xaxis_title="<b>Data", yaxis_title="<b>WIN (pts)", legend_title="",
                  font=dict(family="Arial, Arial, Arial",size=20,color="black"),paper_bgcolor="#f7f8fa")


fig.update_layout(xaxis_rangeslider_visible=False, margin=dict(l=120, r=20, t=20, b=20), template = 'simple_white',
                  width=800,height=600,legend=dict(orientation="h",yanchor="bottom",y=0.9,xanchor="right",x=0.25))

fig.show()

In [31]:
WIN_1d['Resultado_compra'] = WIN_1d['close'] - WIN_1d['Max_ant']
WIN_1d['Resultado_venda'] = WIN_1d['close'] - WIN_1d['Min_ant']

In [32]:
WIN_1d[WIN_1d.Entrada_max==True]

,time,open,high,low,close,tick_volume,spread,real_volume,Max_ant,Min_ant,Entrada_max,Entrada_min,Resultado_compra,Resultado_venda
time,,,,,,,,,,,,,,
2017-04-17,2017-04-17,82007,83928,81898,83928,246605,1,866786,83294.0,81597.0,True,True,634.0,2331.0
2017-04-18,2017-04-18,83217,84088,82846,83320,298660,1,992737,83928.0,81898.0,True,True,-608.0,1422.0
2017-04-24,2017-04-24,83903,84140,83410,83794,237478,1,829268,83365.0,82295.0,True,True,429.0,1499.0
2017-04-25,2017-04-25,83896,84562,82878,84473,276389,1,1049539,84140.0,83410.0,True,False,333.0,1063.0
2017-04-26,2017-04-26,84223,84953,83864,84088,297199,1,1101587,84562.0,82878.0,True,True,-474.0,1210.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-04-01,2022-04-01,122904,124354,122889,124125,3543284,1,12754923,123444.0,122304.0,True,True,681.0,1821.0
2022-04-04,2022-04-04,124369,124431,123143,123647,3322845,1,11880114,124354.0,122889.0,True,True,-707.0,758.0
2022-04-07,2022-04-07,120625,121516,119583,121032,4930378,1,16193864,120931.0,118952.0,True,True,101.0,2080.0
2022-04-12,2022-04-12,119466,120656,118087,118560,4711375,1,13705994,119883.0,118784.0,True,False,-1323.0,-224.0
2022-04-28,2022-04-28,112105,112270,110325,110905,4786035,1,15095229,111705.0,110390.0,True,False,-800.0,515.0

In [34]:
WIN_1d[(WIN_1d.Entrada_min==True) & (WIN_1d.Entrada_max==True)]

,time,open,high,low,close,tick_volume,spread,real_volume,Max_ant,Min_ant,Entrada_max,Entrada_min,Resultado_compra,Resultado_venda
time,,,,,,,,,,,,,,
2017-04-17,2017-04-17,82007,83928,81898,83928,246605,1,866786,83294.0,81597.0,True,True,634.0,2331.0
2017-04-18,2017-04-18,83217,84088,82846,83320,298660,1,992737,83928.0,81898.0,True,True,-608.0,1422.0
2017-04-24,2017-04-24,83903,84140,83410,83794,237478,1,829268,83365.0,82295.0,True,True,429.0,1499.0
2017-04-26,2017-04-26,84223,84953,83864,84088,297199,1,1101587,84562.0,82878.0,True,True,-474.0,1210.0
2017-04-28,2017-04-28,84236,84851,83659,84793,216364,1,770919,84755.0,83294.0,True,True,38.0,1499.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-03-29,2022-03-29,122294,123500,122065,122472,4425842,1,15226540,122330.0,120630.0,True,True,142.0,1842.0
2022-03-31,2022-03-31,122909,123444,122304,122584,3771382,1,13343446,123220.0,122187.0,True,True,-636.0,397.0
2022-04-01,2022-04-01,122904,124354,122889,124125,3543284,1,12754923,123444.0,122304.0,True,True,681.0,1821.0
2022-04-04,2022-04-04,124369,124431,123143,123647,3322845,1,11880114,124354.0,122889.0,True,True,-707.0,758.0
2022-04-07,2022-04-07,120625,121516,119583,121032,4930378,1,16193864,120931.0,118952.0,True,True,101.0,2080.0

# **3. BACKTRADER**

## 3.1. Data Feeds Backtrader

In [9]:
data_WIN_1d = bt.feeds.PandasData(dataname=WIN_1d, name='WIN_1d')

In [ ]:
# Create a Stratey
class TestStrategy(bt.Strategy):
    params = (
    ('myparam', 27),
    ('exitbars', 5),
)

    def log(self, txt, dt=None):
        ''' Logging function fot this strategy'''
        dt = dt or self.datas[0].datetime.date(0)
        print('%s, %s' % (dt.isoformat(), txt))

    def __init__(self):
        # Keep a reference to the "close" line in the data[0] dataseries
        self.dataclose = self.datas[0].close

        # To keep track of pending orders and buy price/commission
        self.order = None
        self.buyprice = None
        self.buycomm = None

    def notify_order(self, order):
        if order.status in [order.Submitted, order.Accepted]:
            # Buy/Sell order submitted/accepted to/by broker - Nothing to do
            return

        # Check if an order has been completed
        # Attention: broker could reject order if not enough cash
        if order.status in [order.Completed]:
            if order.isbuy():
                self.log(
                    'BUY EXECUTED, Price: %.2f, Cost: %.2f, Comm %.2f' %
                    (order.executed.price,
                     order.executed.value,
                     order.executed.comm))

                self.buyprice = order.executed.price
                self.buycomm = order.executed.comm
            else:  # Sell
                self.log('SELL EXECUTED, Price: %.2f, Cost: %.2f, Comm %.2f' %
                         (order.executed.price,
                          order.executed.value,
                          order.executed.comm))

            self.bar_executed = len(self)

        elif order.status in [order.Canceled, order.Margin, order.Rejected]:
            self.log('Order Canceled/Margin/Rejected')

        self.order = None

    def notify_trade(self, trade):
        if not trade.isclosed:
            return

        self.log('OPERATION PROFIT, GROSS %.2f, NET %.2f' %
                 (trade.pnl, trade.pnlcomm))

    def next(self):
        # Simply log the closing price of the series from the reference
        self.log('Close, %.2f' % self.dataclose[0])

        # Check if an order is pending ... if yes, we cannot send a 2nd one
        if self.order:
            return

        # Check if we are in the market
        if not self.position:

            # Not yet ... we MIGHT BUY if ...
            if self.dataclose[0] < self.dataclose[-1]:
                    # current close less than previous close

                    if self.dataclose[-1] < self.dataclose[-2]:
                        # previous close less than the previous close

                        # BUY, BUY, BUY!!! (with default parameters)
                        self.log('BUY CREATE, %.2f' % self.dataclose[0])

                        # Keep track of the created order to avoid a 2nd order
                        self.order = self.buy()

        else:

            # Already in the market ... we might sell
            if len(self) >= (self.bar_executed + self.params.exitbars):
                # SELL, SELL, SELL!!! (with all possible default parameters)
                self.log('SELL CREATE, %.2f' % self.dataclose[0])

                # Keep track of the created order to avoid a 2nd order
                self.order = self.sell()