<a href="https://colab.research.google.com/github/Trading-com-Dados/desenvolvimento_interno/blob/main/20220501_Entendendo_o_Adj_Close_com_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img src="https://tradingcomdados.com/images/logotipo/logotipo-trading-com-dados.svg" width="300">

---
# **Calculando os preços ajustados de OPEN-HIGH-LOW baseado no ADJ CLOSE** 
---

# **1. Bibliotecas utilizadas**

In [1]:
!pip install yfinance

Collecting yfinance
  Downloading yfinance-0.1.70-py2.py3-none-any.whl (26 kB)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.10)
Collecting lxml>=4.5.1
  Downloading lxml-4.8.0-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.manylinux_2_24_x86_64.whl (6.4 MB)
     |████████████████████████████████| 6.4 MB 7.2 MB/s
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.21.6)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.3.5)
Collecting requests>=2.26
  Downloading requests-2.27.1-py2.py3-none-any.whl (63 kB)
     |████████████████████████████████| 63 kB 1.4 MB/s
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2022.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24.0->yfinance) (1.15.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2021.10.8)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.10)
Installing collected packages: requests, lxml, yfinance
  Attempting uninstall: requests
    Found existing installation: requests 2.23.0
    Uninstalling requests-2.23.0:
      Successfully uninstalled requests-2.23.0
  Attempting uninstall: lxml
    Found existing installation: lxml 4.2.6
    Uninstalling lxml-4.2.6:
      Successfully uninstalled lxml-4.2.6
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
google-colab 1.0.0 requires requests~=2.23.0, but you have requests 2.27.1 which is incompatible.
datascience 0.10.6 requires folium==0.2.1, but you have folium 0.8.3 which is incompatible.
Successfully installed lxml-4.8.0 requests-2.27.1 yfinance-0.1.70

In [2]:
import numpy as np
import pandas as pd

import yfinance as yf

import plotly.graph_objects as go

# **2. Obter cotações ativos**

In [4]:
ativos_ind = ['PETR4.SA']

In [5]:
cotacoes_OHLC = yf.download(ativos_ind, period = 'max', interval = '1d')
cotacoes_OHLC

[*********************100%***********************]  1 of 1 completed

                 Open       High        Low      Close  Adj Close       Volume
Date
2000-01-03   5.875000   5.875000   5.875000   5.875000   2.930676  35389440000
2000-01-04   5.550000   5.550000   5.550000   5.550000   2.768554  28861440000
2000-01-05   5.494000   5.494000   5.494000   5.494000   2.740619  43033600000
2000-01-06   5.475000   5.475000   5.475000   5.475000   2.731142  34055680000
2000-01-07   5.500000   5.500000   5.500000   5.500000   2.743613  20912640000
...               ...        ...        ...        ...        ...          ...
2022-04-19  31.160000  32.000000  31.120001  31.650000  31.650000     88494100
2022-04-20  31.650000  31.950001  31.330000  31.799999  31.799999     34694700
2022-04-22  31.049999  31.299999  30.320000  30.559999  30.559999     74560900
2022-04-25  29.969999  30.440001  29.540001  30.110001  30.110001     66413900
2022-04-26  30.110001  30.580000  29.889999  30.080000  30.080000     38312900

[5606 rows x 6 columns]

In [6]:
cotacoes_OHLC.tail()

                 Open       High        Low      Close  Adj Close    Volume
Date
2022-04-19  31.160000  32.000000  31.120001  31.650000  31.650000  88494100
2022-04-20  31.650000  31.950001  31.330000  31.799999  31.799999  34694700
2022-04-22  31.049999  31.299999  30.320000  30.559999  30.559999  74560900
2022-04-25  29.969999  30.440001  29.540001  30.110001  30.110001  66413900
2022-04-26  30.110001  30.580000  29.889999  30.080000  30.080000  38312900

In [11]:
ativo_yf = yf.Ticker('PETR4.SA')
ativo_dividendos = pd.DataFrame(ativo_yf.dividends)
ativo_dividendos.head()

            Dividends
Date
2005-04-01   0.133288
2005-07-01   0.250663
2006-01-02   0.259000
2006-04-04   0.132700
2006-11-01   0.500750

In [15]:
cotacoes_OHLC['Data'] = cotacoes_OHLC.index
ativo_dividendos['Data'] = ativo_dividendos.index

cotacoes_OHLC_div = pd.merge(cotacoes_OHLC,ativo_dividendos,on='Data',how='outer')
cotacoes_OHLC_div

,Open,High,Low,Close,Adj Close,Volume,Data,Dividends
0,5.875000,5.875000,5.875000,5.875000,2.930676,35389440000,2000-01-03,NaN
1,5.550000,5.550000,5.550000,5.550000,2.768554,28861440000,2000-01-04,NaN
2,5.494000,5.494000,5.494000,5.494000,2.740619,43033600000,2000-01-05,NaN
3,5.475000,5.475000,5.475000,5.475000,2.731142,34055680000,2000-01-06,NaN
4,5.500000,5.500000,5.500000,5.500000,2.743613,20912640000,2000-01-07,NaN
...,...,...,...,...,...,...,...,...
5601,31.160000,32.000000,31.120001,31.650000,31.650000,88494100,2022-04-19,NaN
5602,31.650000,31.950001,31.330000,31.799999,31.799999,34694700,2022-04-20,NaN
5603,31.049999,31.299999,30.320000,30.559999,30.559999,74560900,2022-04-22,NaN
5604,29.969999,30.440001,29.540001,30.110001,30.110001,66413900,2022-04-25,NaN
5605,30.110001,30.580000,29.889999,30.080000,30.080000,38312900,2022-04-26,NaN

In [21]:
cotacoes_OHLC_div.index = cotacoes_OHLC_div['Data']

In [22]:
cotacoes_OHLC_div_filter = cotacoes_OHLC_div[cotacoes_OHLC_div['Dividends']>0]
cotacoes_OHLC_div_filter

,Open,High,Low,Close,Adj Close,Volume,Data,Dividends
Data,,,,,,,,
2005-04-01,12.993750,13.100000,12.812500,12.987500,6.546340,40569600,2005-04-01,0.133288
2005-07-01,13.362500,13.571250,13.201250,13.523750,6.946455,23113600,2005-07-01,0.250663
2006-01-02,19.045000,19.045000,18.365000,19.045000,9.920542,5230200,2006-01-02,0.259000
2006-04-04,21.985001,22.000000,21.610001,21.645000,11.342917,7550800,2006-04-04,0.132700
2006-11-01,21.200001,21.450001,21.049999,21.225000,11.387357,13337800,2006-11-01,0.500750
2007-01-02,25.000000,25.225000,24.879999,25.160000,13.621595,10244800,2007-01-02,0.225000
2007-04-03,23.000000,23.075001,22.610001,22.695000,12.381214,21303000,2007-04-03,0.175000
2007-08-20,23.340000,23.395000,22.799999,23.135000,12.758492,24738000,2007-08-20,0.251700
2007-10-08,30.485001,31.045000,30.350000,30.920000,17.200842,20934800,2007-10-08,0.256500
2008-01-14,41.055000,41.200001,40.195000,40.544998,22.641470,14809800,2008-01-14,0.155300
2008-04-07,39.790001,40.320000,38.860001,39.250000,21.975382,14868200,2008-04-07,0.102600
2008-12-29,22.950001,23.000000,22.100000,22.520000,12.632154,14356100,2008-12-29,0.042600
2009-04-09,30.500000,30.900000,30.219999,30.840000,17.505077,25446700,2009-04-09,0.351600
2009-07-06,30.290001,30.389999,29.650000,30.040001,17.217558,19527300,2009-07-06,0.300000
2009-10-01,34.650002,34.900002,34.029999,34.049999,19.628071,14451100,2009-10-01,0.200000
2009-12-21,36.799999,36.849998,35.200001,35.200001,20.402533,20905000,2009-12-21,0.200000
2010-04-23,33.570000,34.000000,33.540001,34.000000,19.784828,12312800,2010-04-23,0.133200
2010-05-24,27.400000,27.780001,27.100000,27.150000,15.896749,14996100,2010-05-24,0.170000
2010-08-02,27.969999,28.559999,27.950001,28.440001,16.754339,17740200,2010-08-02,0.170000
2010-11-03,26.700001,27.110001,26.500000,27.000000,15.990527,36288300,2010-11-03,0.140000
2010-12-22,25.559999,25.719999,25.469999,25.719999,15.351600,11576500,2010-12-22,0.200000
2011-03-22,28.160000,28.350000,27.980000,28.129999,16.894218,28580800,2011-03-22,0.173420
2011-04-29,25.340000,25.670000,25.270000,25.600000,15.451562,15923100,2011-04-29,0.126500
2011-05-12,24.600000,24.600000,24.600000,24.600000,14.978041,0,2011-05-12,0.213600
2011-08-03,23.500000,23.500000,23.500000,23.500000,14.435629,0,2011-08-03,0.207300
2011-11-14,21.860001,22.049999,21.629999,21.920000,13.588821,12704300,2011-11-14,0.200000
2012-01-03,21.830000,22.410000,21.809999,22.410000,14.006871,22940500,2012-01-03,0.177300
2012-03-20,24.010000,24.309999,23.969999,24.270000,15.247321,17585500,2012-03-20,0.124400
2012-05-14,19.080000,19.250000,18.900000,18.900000,11.996539,26088300,2012-05-14,0.200000
2013-04-30,19.650000,20.100000,19.440001,20.090000,12.997679,45900400,2013-04-30,0.386170
2014-04-03,15.530000,15.650000,15.120000,15.400000,10.623746,56189100,2014-04-03,0.967200
2018-05-22,24.809999,25.290001,24.150000,24.709999,17.080370,88109900,2018-05-22,0.050000
2018-08-14,20.280001,20.309999,19.730000,19.980000,13.845381,55180600,2018-08-14,0.050000
2018-11-22,25.280001,25.360001,25.070000,25.150000,17.497513,31253600,2018-11-22,0.100000
2018-12-26,20.590000,21.680000,20.420000,21.680000,15.602133,77104200,2018-12-26,0.716563
2019-04-26,27.680000,27.770000,27.059999,27.250000,19.624378,52616600,2019-04-26,0.019494
2019-05-22,26.340000,26.469999,25.959999,26.290001,19.004768,48439300,2019-05-22,0.100000
2019-08-13,25.360001,26.129999,25.230000,25.790001,18.789831,45330500,2019-08-13,0.200000
2019-11-12,30.040001,30.610001,30.010000,30.020000,22.016962,41655600,2019-11-12,0.200925
2019-12-27,30.690001,30.920000,30.290001,30.520000,22.693449,24995100,2019-12-27,0.421942
2020-04-23,17.200001,17.430000,16.620001,16.950001,12.603680,94759000,2020-04-23,0.000449
2020-04-28,17.040001,17.250000,16.629999,17.250000,12.827104,91613600,2020-04-28,0.000449
2020-07-23,23.160000,23.230000,22.540001,22.570000,16.783392,64072100,2020-07-23,0.000461
2021-04-15,23.700001,23.830000,23.020000,23.090000,17.747944,64193600,2021-04-15,0.792834
2021-08-17,26.840000,27.629999,26.450001,27.030001,22.013834,93623700,2021-08-17,1.609911
2021-12-02,26.990000,28.490000,26.200001,28.360001,25.946272,191410300,2021-12-02,3.250487
2022-04-14,31.600000,32.070000,31.160000,31.270000,31.270000,119382100,2022-04-14,2.942264

In [42]:
# Pegar o intervalo de tempo entre os dois últimos dividendos

ultimo_div = cotacoes_OHLC_div[(cotacoes_OHLC_div.index<='2022-04-14') & (cotacoes_OHLC_div.index>'2021-12-02')]
ultimo_div

,Open,High,Low,Close,Adj Close,Volume,Data,Dividends
Data,,,,,,,,
2021-12-03,28.480000,28.940001,28.219999,28.760000,26.312227,105133000,2021-12-03,NaN
2021-12-06,28.780001,29.270000,28.680000,28.889999,26.431162,66142300,2021-12-06,NaN
2021-12-07,29.280001,29.570000,28.799999,29.360001,26.861162,98989300,2021-12-07,NaN
2021-12-08,29.360001,30.070000,29.219999,29.350000,26.852013,71167700,2021-12-08,NaN
2021-12-09,29.100000,29.490000,28.790001,29.290001,26.797119,67668200,2021-12-09,NaN
...,...,...,...,...,...,...,...,...
2022-04-08,34.070000,34.410000,33.849998,34.209999,31.298376,60772700,2022-04-08,NaN
2022-04-11,33.900002,34.099998,33.779999,33.950001,31.060505,48125400,2022-04-11,NaN
2022-04-12,34.400002,34.680000,33.799999,33.849998,30.969015,68522800,2022-04-12,NaN
2022-04-13,34.369999,34.799999,34.099998,34.570000,31.627737,101438800,2022-04-13,NaN
2022-04-14,31.600000,32.070000,31.160000,31.270000,31.270000,119382100,2022-04-14,2.942264

In [43]:
ultimo_div['Adj_teste_01'] = ultimo_div['Close'] - ultimo_div['Dividends'].iloc[-1]
ultimo_div['Diff_teste_01'] = ultimo_div['Adj Close'] - ultimo_div['Adj_teste_01']
ultimo_div

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Open,High,Low,Close,Adj Close,Volume,Data,Dividends,Adj_teste_01,Diff_teste_01
Data,,,,,,,,,,
2021-12-03,28.480000,28.940001,28.219999,28.760000,26.312227,105133000,2021-12-03,NaN,25.817736,0.494491
2021-12-06,28.780001,29.270000,28.680000,28.889999,26.431162,66142300,2021-12-06,NaN,25.947735,0.483426
2021-12-07,29.280001,29.570000,28.799999,29.360001,26.861162,98989300,2021-12-07,NaN,26.417737,0.443426
2021-12-08,29.360001,30.070000,29.219999,29.350000,26.852013,71167700,2021-12-08,NaN,26.407736,0.444276
2021-12-09,29.100000,29.490000,28.790001,29.290001,26.797119,67668200,2021-12-09,NaN,26.347737,0.449382
...,...,...,...,...,...,...,...,...,...,...
2022-04-08,34.070000,34.410000,33.849998,34.209999,31.298376,60772700,2022-04-08,NaN,31.267735,0.030641
2022-04-11,33.900002,34.099998,33.779999,33.950001,31.060505,48125400,2022-04-11,NaN,31.007737,0.052768
2022-04-12,34.400002,34.680000,33.799999,33.849998,30.969015,68522800,2022-04-12,NaN,30.907734,0.061281
2022-04-13,34.369999,34.799999,34.099998,34.570000,31.627737,101438800,2022-04-13,NaN,31.627736,0.000001
2022-04-14,31.600000,32.070000,31.160000,31.270000,31.270000,119382100,2022-04-14,2.942264,28.327736,2.942264

In [47]:
razao_dividendo = ultimo_div['Dividends'].iloc[-1]/ultimo_div['Close'].iloc[-2]
razao_dividendo

0.08511032762434513

In [48]:
ultimo_div['Adj_teste_02'] = ultimo_div['Close']*(1-razao_dividendo)
ultimo_div['Diff_teste_02'] = ultimo_div['Adj Close'] - ultimo_div['Adj_teste_02']
ultimo_div

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Open,High,Low,Close,Adj Close,Volume,Data,Dividends,Adj_teste_01,Diff_teste_01,Adj_teste_02,Diff_teste_02
Data,,,,,,,,,,,,
2021-12-03,28.480000,28.940001,28.219999,28.760000,26.312227,105133000,2021-12-03,NaN,25.817736,0.494491,26.312227,6.222005e-08
2021-12-06,28.780001,29.270000,28.680000,28.889999,26.431162,66142300,2021-12-06,NaN,25.947735,0.483426,26.431162,-1.960352e-07
2021-12-07,29.280001,29.570000,28.799999,29.360001,26.861162,98989300,2021-12-07,NaN,26.417737,0.443426,26.861161,8.463154e-07
2021-12-08,29.360001,30.070000,29.219999,29.350000,26.852013,71167700,2021-12-08,NaN,26.407736,0.444276,26.852012,4.010492e-07
2021-12-09,29.100000,29.490000,28.790001,29.290001,26.797119,67668200,2021-12-09,NaN,26.347737,0.449382,26.797119,-2.008644e-07
...,...,...,...,...,...,...,...,...,...,...,...,...
2022-04-08,34.070000,34.410000,33.849998,34.209999,31.298376,60772700,2022-04-08,NaN,31.267735,0.030641,31.298375,1.229009e-06
2022-04-11,33.900002,34.099998,33.779999,33.950001,31.060505,48125400,2022-04-11,NaN,31.007737,0.052768,31.060505,-1.618288e-07
2022-04-12,34.400002,34.680000,33.799999,33.849998,30.969015,68522800,2022-04-12,NaN,30.907734,0.061281,30.969014,1.107555e-06
2022-04-13,34.369999,34.799999,34.099998,34.570000,31.627737,101438800,2022-04-13,NaN,31.627736,0.000001,31.627736,1.350464e-06
2022-04-14,31.600000,32.070000,31.160000,31.270000,31.270000,119382100,2022-04-14,2.942264,28.327736,2.942264,28.608600,2.661400e+00

In [38]:
ultimos_2_div = cotacoes_OHLC_div[(cotacoes_OHLC_div.index<='2022-04-14') & (cotacoes_OHLC_div.index>='2021-12-02')]
ultimos_2_div

,Open,High,Low,Close,Adj Close,Volume,Data,Dividends
Data,,,,,,,,
2021-12-02,26.990000,28.490000,26.200001,28.360001,25.946272,191410300,2021-12-02,3.250487
2021-12-03,28.480000,28.940001,28.219999,28.760000,26.312227,105133000,2021-12-03,NaN
2021-12-06,28.780001,29.270000,28.680000,28.889999,26.431162,66142300,2021-12-06,NaN
2021-12-07,29.280001,29.570000,28.799999,29.360001,26.861162,98989300,2021-12-07,NaN
2021-12-08,29.360001,30.070000,29.219999,29.350000,26.852013,71167700,2021-12-08,NaN
...,...,...,...,...,...,...,...,...
2022-04-08,34.070000,34.410000,33.849998,34.209999,31.298376,60772700,2022-04-08,NaN
2022-04-11,33.900002,34.099998,33.779999,33.950001,31.060505,48125400,2022-04-11,NaN
2022-04-12,34.400002,34.680000,33.799999,33.849998,30.969015,68522800,2022-04-12,NaN
2022-04-13,34.369999,34.799999,34.099998,34.570000,31.627737,101438800,2022-04-13,NaN
2022-04-14,31.600000,32.070000,31.160000,31.270000,31.270000,119382100,2022-04-14,2.942264

0.09409222759603443

In [ ]:
razao_dividendo

31.627735694824217

In [35]:
ultimo_div['Close'].iloc[-3]-2.942264

30.907734474121092

In [32]:
ultimo_div['Close'].iloc[-3]*(1-razao_dividendo)

30.664976713568674

In [ ]:
ultimo_div['Rz_dividendo'] = ultimo_div['Dividends']/ultimo_div['Close']

In [ ]:
ultimo_div['Dividendo_em_%] =

In [ ]:
fig = make_subplaots(rows=3, cols=1)

fig.add_trace(go.Candlestick(name='ITUB4', x=ativos_ind_ITUB4.index, open=ativos_ind_ITUB4['Open'], high = ativos_ind_ITUB4['High'], low=ativos_ind_ITUB4['Low'], close=ativos_ind_ITUB4['Close']), row=1,col=1)
fig.add_trace(go.Scatter(name='SMA_20p', x=ativos_ind_ITUB4.index, y=ativos_ind_ITUB4['SMA_20p'],marker_color='blue'), row=1, col=1)

fig.add_trace(go.Scatter(name='Meu_indicador_01', x=ativos_ind_ITUB4.index, y=ativos_ind_ITUB4['Meu_indicador_01'],marker_color='green'), row=2, col=1)
fig.add_trace(go.Scatter(name='Meu_indicador_02', x=ativos_ind_ITUB4.index, y=ativos_ind_ITUB4['Meu_indicador_02'],marker_color='green'), row=3, col=1)


fig.update_xaxes(title_text="<b> Data",rangebreaks=[dict(bounds=["sat", "mon"])])
fig.update_layout(xaxis_rangeslider_visible=False, title_text='Cruzamento Médias Móveis',width=500,height=1000)
fig.show()